/*头部开始*/
header{
	height:208px;
	box-shadow: 2px 2px 4px #EEE;
}
.header-nav{
	height:36px;
	line-height:36px;
	background:#333;
	color:#CCC;
}
.head-login,.head-regist{
	cursor:pointer;
}
.head-login:hover,.head-regist:hover{
	color:#B4A078;
}
.header-separate{
	margin:0 8px;
}
.header-logo-box{
	position: relative;
	padding-top:20px;
	height:172px;
}
.logo-box-top>div:last-of-type{
	height:100px;
	padding-top:20px;
	line-height:80px;
}
.keywords-search{
	width:252px;
	height:23px;
	border-bottom:#ddd solid 1px;
}
/*购物车开始*/
.shopcar-icon{
	display:inline-block;
	position: relative;
}
.search-icon,.shopcar-icon>a{
	display:inline-block;
	width:22px;
	height:22px;
	margin-right:10px;
	position:relative;
	top:6px;
}
.search-icon{
	background:url('../images/search.png') center center no-repeat;
	background-size:cover;
}
.shopcar-icon>a{
	background:url('../images/shopcar.png') center center no-repeat;
	background-size:cover;
}
.shop-num{
	position: absolute;
	top:-14px;
	right:4px;
	color:#FFF;
	font-size:14px;
	cursor:pointer;
}
.shop-num>i{
	position: absolute;
	top:31px;
	right:-5px;
	display: inline-block;
	width:19px;
	height:19px;
	background:url("../images/more-img.png") 0 -282px no-repeat;
	z-index:-1;
}
.shop-book-list-box{
	position: absolute;
	top:65px;
	right:-15px;
	width:330px;
	height:328px;
	background:#FFF;
	z-index:2999;
	border:1px solid #b5a176;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
	background:#fff;
	border-radius: 3px;
	padding-top:14px;
	display:none;
}
.shop-book-list-box:before{
	content:"";
    position:absolute;
    border-style:solid;
    border-color:transparent transparent #b5a176;
    border-width:11px;
    top:-21px;
    right:23px;
}
.shop-book-list-box:after{
	content:"";
    position:absolute;
    border-style:solid;
    border-color:transparent transparent #fff;
    border-width:10px;
    top:-19px;
    right:23px;
    z-index:9;
}
.shop-book-list{
	width:100%;
	height:244px;
	overflow-y: auto;
	padding:0 14px;
}
.shop-book-list>li{
	position: relative;
	width:100%;
	height:60px;
	margin-bottom:10px;
}
.shop-book-list>li>div{
	display:inline-block;
}
.shop-book-img{
	position: absolute;
	width:60px;
	height:60px;
	border:1px solid #f5f5f5;
	padding:5px;
}
.shop-book-img>a{
	display: inline-block;
	width:100%;
	height:100%;
}
.shop-book-price{
	position: relative;
	top:-23px;
	width:66px;
	height:100%;
}
.shop-book-price>span{
	position: relative;
	top:-26px;
	display: inline-block;
	color:#b62628;
	width:46px;
	height:24px;
}
.shop-book-price>i{
	position: relative;
	top:-23px;
	right:-11px;
	display: inline-block;
	width:14px;
	height:14px;
	background:url('../images/close.png') center center no-repeat;
	background-size:contain;
	cursor:pointer;
}
.shop-book-list>li:last-child{
	margin-bottom:0;
}
.shop-book-baseInfo{
	position: relative;
	top:-17px;
	width:144px;
	margin-left:65px;
	font-size:12px;
}
.shop-book-baseInfo>a{
	display:block;
	width:100%;
	height:30px;
}
.paymeny-book-box{
	border-top:1px solid #b5a176;
	height:68px;
	line-height: 67px;
	background-color:#f4f0ea;
}
.paymeny-book-box>span:first-child{
	padding-left: 40px;
	color:#999;
}
.paymeny-book-box>span:first-child>i{
	font-style: normal;
	font-size:14px;
	color:#b62628;
}
.paymeny-book-box>span:last-child{
	display:inline-block;
	width:110px;
	height:36px;
	line-height: 36px;
	background: #b4a078;
	border:1px solid #b4a078;
	color:#fff;
	cursor:pointer;
	text-align: center;
	border-radius: 2px;
	margin-left:22px;
}
.paymeny-book-box>span:last-child:hover{
	background: #a79268;
}
/*购物车结束*/
nav{
	height:49px;
	line-height:36px;
	overflow:hidden;
}
.header-items{
	height:100%;
}
.header-items>li{
	float:left;
	width:8%;
	height:100%;
	text-align:center;
}
.header-items a{
	padding:6px 1px;
	font-size:16px;
	font-weight:bold;
}
.cur-header-item{
	border-bottom:#B4A078 solid 4px;
	color:#B4A078;
}
/*头部结束*/

/*面滚动时的固定定位部分开始 */
aside{
	position:fixed;
	top:0px;
	width:100%;
	height:60px;
	line-height:60px;
	background:#FFF;
	box-shadow:0 2px 6px #CCC;
	display:none;
}
aside .header-items{
	width:800px;
}
aside .header-items li{
	text-align:left;
}
.aside-img-box{
	padding:14px 0 10px 0;
	height:60px;
}
.aside-img-box>p{
	display:inline-block;
	font-size:16px;
	color:#BBB;	
	height:100%;
}
.aside-img-box>p>a{
	position:relative;
	top:-12px;
	margin:0 10px;
}
.aside-img-box>p>a:hover{
	color:#B4A078;;
}
/* .aside-img-box>a:last-child{
	position:relative;
	top:-2px;
	display:inline-block;
	background:url("../images/shopcar.png") center center no-repeat;
	margin-left:16px;
	width:32px;
	height:32px;
	border-radius:50%;
} */
.shopcar-big-icon{
	display: inline-block;
	position: relative;
}
.shopcar-big-icon>a{
	display:inline-block;
	width:32px;
	height:32px;
	margin-right:10px;
	position:relative;
	top:0;
	left:5px;
	background:url('../images/shopcar.png') center center no-repeat;
	background-size:cover;
}
.shop-big-num{
	position: absolute;
	top:-34px;
	right:-2px;
}
.shop-big-num>i{
	position: absolute;
	top:29px;
	right:-5px;
	display: inline-block;
	width:19px;
	height:19px;
	background:url("../images/more-img.png") 0 -282px no-repeat;
	z-index:-1;
}
.shop-big-num>b{
	position: absolute;
	top:8px;
	right:-10px;
	display: inline-block;
	width:19px;
	height:19px;
	font-size:14px;
	cursor:pointer;
	font-style: normal;
	color:#fff;
}
.shop-book-big-list-box{
	top:45px !important;
}
.shop-book-big-baseInfo{
	top:-16px !important;
}
.shop-book-big-price{
	top:-20px !important;
}
/*面滚动时的固定定位部分开始 */

/* 鼠标悬浮在书籍大类上显示书籍子类开始 */
.book-subclass-box{
	position: absolute;
	top:172px;
	left:0;
	min-height:80px;
	width:100%;
	background:#FFF;
	box-shadow: 2px 2px 4px #EEE;
	z-index:2000;
	padding-bottom: 20px;
	display: none;
}
.aside-subclass-box{
	position: absolute;
	top:60px;
	left:0;
	min-height:80px;
	width:100%;
	background:#FFF;
	box-shadow: 2px 2px 4px #EEE;
	z-index:2000;
	padding-bottom: 20px;
	display: none;
}
.book-subclass-items{
	padding:0 74px;
}
.book-subclass-items>li{
	float:left;
	padding:0 20px;
	line-height: 60px;
}
.book-subclass-items>li:hover a{
	color:#B4A078;
}
/* 鼠标悬浮在书籍大类上显示书籍子类结束 */

/*页面底部开始*/
footer{
	width:100%;
	height:289px;
	background:#FFF;
	border-top:#ddd solid 1px;
	padding:50px 0;
	text-align:center;
	color:#7B7B7B;
}
.footer-box>div:first-of-type,.footer-box>div:last-of-type{
	width:30%;
	height:189px;
}
.footer-box>div:nth-of-type(2){
	width:40%;
	height:189px;
}
.footer-left-box>span,.footer-middle-box>span,.footer-right-box span{
	display:block;
}
.footer-left-box>span:nth-of-type(1),.footer-middle-box>span:nth-of-type(1),.footer-right-box span{
	font-size:16px;
	margin-bottom:26px;
}
.footer-left-box>span:nth-of-type(2){
	font-size:26px;
}
.footer-left-box>span:nth-of-type(3){
	font-size:14px;
	margin:15px 0 30px 0;
}
.footer-left-box>span:nth-of-type(4){
	font-size:14px;
	width:126px;
	height:28px;
	line-height:28px;
	border:#ddd solid 1px;
	margin:0 auto;
	border-radius:5px;
}
.footer-left-box>span:nth-of-type(4):hover{
	background-color:#666;
}
.footer-left-box>span:nth-of-type(4):hover>a{
	color:#FFF;
}
.footer-middle-box{
	padding:0 3%;
	border-left:#ddd solid 1px;
	border-right:#ddd solid 1px;
}
.footer-middle-box>p:nth-child(2){
	font-size:13px;
	line-height:23px;
	text-indent:26px;
	margin-bottom:28px;
}
.footer-attention{
	font-size:14px;
	line-height:32px;
}
.footer-weixin{
	width:31px;
	height:31px;
	background:url("../images/weixin.png") center center no-repeat;
}
.footer-qq{
	width:32px;
	height:32px;
	background:url("../images/qq.png") center center no-repeat;
}
.footer-icon{
	position:relative;
	top:8px;
	display:inline-block;
	margin-left:15px;
	background-size:cover;
}
.footer-icon>i{
	position:absolute;
	top:-110px;
	left:-34px;
	width:104px;
	height:104px;
	background:url("../images/erweima.png") center center no-repeat;
	background-size:cover;
	box-shadow:0 -2px 2px #EEE,2px 0 2px #EEE,0 2px 2px #EEE,-2px 0 2px #EEE;
	display:none;
}
.footer-icon:hover>i{
	display:block;
}
.footer-right-box>div{
	width:50%;
	text-align:center;
}
.footer-right-box p{
	font-size:13px;
	line-height:23px;
	margin-bottom:20px;
}
.footer-right-box p:hover>a{
	color:#DBB478;
}
.footer-qa{
	position:relative;
	left:36px;
	display:block;
	width:94px;
	height:70px;
	background:url("../images/qa.png") center center no-repeat;
	background-size:cover;
}
/*页面底部结束*/


/*买家登录后的下拉菜单开始*/
.user-box{
	position:relative;
}
.user-txt:hover{
	color:#B4A078;
	cursor:pointer;
}
.user-bus,.aside-user-bus{
	position:absolute;
	top:36px;
	left:-23px;
	width:100px;
	height:175px;
	border:#EEE solid 1px;
	box-shadow:0 1px 2px #EEE,1px 0 2px #EEE,0 -1px 2px #EEE,-1px 0 2px #EEE;
	background:#FFF;
	z-index:3000;
	padding:5px 10px 0 10px;
	display:none;
}
.user-bus:before,.aside-user-bus:before{
	content:"";
    position:absolute;
    border-style:solid;
    border-color:transparent transparent #EEE;
    border-width:11px;
    top:-21px;
    right:38px;
}
.user-bus:after,.aside-user-bus:after{
	content:"";
    position:absolute;
    border-style:solid;
    border-color:transparent transparent #fff;
    border-width:10px;
    top:-17px;
    right:38px;
    z-index:9;
}
.aside-user-bus{
	top:40px;
	left:-36px;
}
.user-bus>li,.aside-user-bus>li{
	width:100%;
	height:32px;
	line-height:32px;
	border-bottom:#EEE solid 1px;
	text-align:center;
}
.user-bus>li:last-of-type,.aside-user-bus>li:last-of-type{
	border-bottom:none;
}
.user-bus>li>a,.aside-user-bus>li>a{
	display:block;
	width:100%;
	height:100%;
}
.user-bus>li>a:hover,.aside-user-bus>li>a:hover{
	color:#B4A078;
}
.aside-user-box{
	display:inline-block;
	position:relative;
}
.aside-user-img{
	position:relative;
	top:-3px;
	display:block;
	width:30px;
	height:30px;
	background:url("../images/userImg.jpg") center center no-repeat;
	background-size:contain;
	border-radius:50%;
	overflow:hidden;
	cursor:pointer;
}
/*买家登录后的下拉菜单结束*/


