@charset "utf-8";
/*用邮箱重置密码上面部分结束*/
.emailReset-box{
	margin:125px auto 50px auto;
	width:940px;
}
.emailReset-logo-img{
	display:block;
	width:290px;
	height:123px;
	background:url("../images/logo-txt.png") center center no-repeat;
	background-size:cover;
	margin:0 auto;
}
.emailReset-txt{
	margin:70px auto 50px auto;
	text-align:center;
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	color:#000;
}
/*用邮箱重置密码上面部分结束*/

/* 用邮箱重置密码下面部分开始 */
.reset-box{
	width:700px;
	margin-left:260px;
}
.reset-box label{
	display:inline-block;
	width:80px;
	text-align:right;
	font-size:16px;
}
.reset-box>li{
	height:44px;
	line-height:44px;
	margin-bottom:10px;
}
.regi-text-area{
	display:inline-block;
	border:#CCC solid 1px;
	height:44px;
	width:324px;
	border-radius:5px;
	padding:2px 10px;
}
.regi-veri-box>input{
	width:168px;
	border:#CCC solid 1px;
	border-radius:5px;
	padding:2px 10px;
	height:44px;
}
.regi-veri-box>span{
	position:relative;
	top:3px;
	display:inline-block;
	width:216px;
	height:44px;
	margin-left:20px;
	background:#3DBCF5;
	color:#FFF;
	border-radius:5px;
	text-align:center;
	font-size:16px;
	cursor:pointer;
}
.regi-btn{
	width:406px;
	height:44px;
	line-height:44px;
	color:#FFF;
	text-align:center;
	background:#3DBCF5;
	border-radius:5px;
	cursor:pointer;
	margin-top:30px;
	font-size:16px;
}
.regi-err-hint{
	font-style:normal;
	margin-left:20px;
	font-size:12px;
	color:#BD2D30;
	padding-left:20px;
	background-image:url("images/error.png");
	background-position:left center;
	background-repeat:no-repeat;
	display:none;
}
.return-loginAngRegi{
	margin-top:30px;
	font-size:14px;
	text-align:center;
	width:406px;
	height:30px;
	font-weight:500;
}
.return-loginAngRegi>a{
	color:#969696;
	cursor:pointer;
}
.return-loginAngRegi>a:hover{
	color:#000;
}
.regi-error-hint{
	background-image:url("../images/error.png");
	background-position:left center;
	background-repeat:no-repeat;
	display: inline-block;
}
.regi-right-hint{
	background-image:url("../images/right.png");
	background-position:left center;
	background-repeat:no-repeat;
	display: inline-block;
	color:#008058;
}
.login-error-txt{
	position:fixed;
	top:6px;
	left:590px;
	text-align:center;
	width:320px;
	height:40px;
	line-height:40px;
	background:#E78170;
	color:#FFF;
	font-size:16px;
	border-radius:5px;
	display:none;
}
/* 用邮箱重置密码下面部分结束 */