/*有logo图片开始*/
header{
	margin-top:30px;
	box-shadow: 2px 2px 4px #EEE;
}
.wel-merchant>p{
	margin-top:70px;
	font-size:16px;
	line-height:16px;
}
.wel-merchant a{
	color:#000;
}
.wel-merchant a:hover{
	color:#B4A078;
}
.wel-merchant a:first-child{
	margin-left:10px;
	color:#B4A078;
} 
.wel-merchant i{
	display:inline-block;
	padding:0 20px;
	font-style: normal;
}
/*有logo图片结束*/

/* 添加新书开始 */
.add-book-box{
	margin-top:30px;
	font-size:16px;
}
.book-info-items>li:nth-of-type(-n+6){
	height:40px;
	line-height:40px;
	margin-bottom:20px;
}
.book-info-items>li:nth-of-type(n+7){
	position:relative;
	margin-bottom:20px;
}
.book-info-items>li>span:nth-of-type(1){
	display:inline-block;
	width:240px;
	text-align:left;
	padding-left:150px;
}
.book-info-items>li>span:nth-of-type(2){
	display:inline-block;
	height:100%;
}
.book-cate-select{
	border:#DDD  solid 1px;
	height:100%;
	width:500px;
	border-radius: 3px;
}
.book-cate-select:hover{
	border:#1e90ff solid 1px;
}
.book-info-input>input{
	box-sizing: border-box;
	width:500px;
	height:100%;
	border:#DDD solid 1px;
	padding:5px 10px;
	border-radius: 3px;
}
.book-add-hint{
	font-size:12px !important;
	padding-left:20px;
	margin-left:6px;
	font-style: normal;
	background:url("../images/error.png") left center no-repeat;
}
.brief-text,.img-text{
	position:absolute;
	top:9px;
}
.book-brief-box,.book-img-box{
	display:inline-block;
	width:700px;
	margin-left:244px;
}
.book-brief-box>textarea{
	width:100%;
	border:#DDD solid 1px;
	border-radius: 3px;
	min-height:200px;
	padding:5px 10px;
	resize: vertical;  /*限制textarea只能调整高度*/
}
/* 与多图片上传相关开始 */
.upload_box{width:700px; margin:0 auto 1em auto;}
.upload_main{border-width:1px 1px 2px; border-style:solid; border-color:#ccc #ccc #ddd; background-color:#fbfbfb;border-radius:3px;}
.upload_choose{padding:1em;}
.upload_drag_area{display:inline-block; width:58%; padding:4em 0; margin-left:.5em; border:1px dashed #ddd; background:#fff url(../images/drag.png) no-repeat 20px center; color:#999; text-align:center; vertical-align:middle;}
.upload_drag_hover{border-color:#069; box-shadow:inset 2px 2px 4px rgba(0, 0, 0, .5); color:#333;}
.upload_preview{border-top:1px solid #bbb; border-bottom:1px solid #bbb; background-color:#fff; overflow:hidden; _zoom:1;}
.upload_append_list{height:300px; padding:0 1em; float:left; position:relative;}
.upload_delete{margin-left:2em;}
.upload_image{max-height:250px; padding:5px;}
.upload_submit{padding-top:1em; padding-left:1em;}
.upload_submit_btn{display:none; height:32px; font-size:14px;padding:0 20px;}
.upload_loading{height:250px; background:url(../images/preload.gif) no-repeat center;}
.upload_progress{display:none; padding:5px; border-radius:10px; color:#fff; background-color:rgba(0,0,0,.6); position:absolute; left:25px; top:45px;}
/* 与多图片上传相关结束 */

.add-book-operate{
	margin:36px auto 20px auto;
	font-size:18px;
	padding-left:455px;
}
.add-book-operate>span{
	display:inline-block;
	width:144px;
	height:42px;
	line-height:42px;
	text-align: center;
	border:#ddbea1 solid 1px;
	background:#ddbea1;
	border-radius: 3px;
	color:#FFF;
	margin-right:50px;
	cursor:pointer;
}
.add-book-operate>span:hover{
	background:#ea6f5a;
}
/* 添加新书结束 */