@charset "utf-8";
/*登录&注册上面部分开始*/
.sign-box{
	margin:125px auto 50px auto;
	width:940px;
}
.sign-logo-img{
	display:block;
	width:290px;
	height:123px;
	background:url("../images/logo-txt.png") center center no-repeat;
	background-size:cover;
	margin:0 auto;
}
.sign-txt{
	margin:70px auto 50px auto;
	text-align:center;
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	color:#B1B1B1;
}
.sign-txt>span:hover{
	color:#000;
	cursor:pointer;
}
.sign-txt>i{
	position:relative;
	top:-4px;
	display:inline-block;
	width:5px;
	height:5px;
	margin:0 10px;
	border-radius:50%;
	background:#B1B1B1;
}
.sign-select{
	color:#000;
}
/*登录&注册上面部分结束*/