section{
	width:100%;
	min-height: 400px;
}
/* 已有收货地址开始 */
.submit-order-box{
	margin:50px 0 80px 0;
}
.select-addr-box,.edit-addr-box{
	border:1px solid #e8e8e8;
	min-height:216px;
	width:100%;
}
.select-addr-box>p,.edit-addr-box>p{
	height:42px;
	line-height: 42px;
	color:#999;
	padding-left:21px;
	border-bottom:1px solid #e8e8e8;
	background:#f5f5f5;
}
.select-addr-box>div,.edit-addr-box>div{
	padding:30px;
}
.user-addr-default{
	position: relative;
	margin-bottom:8px;
	font-size:14px;
	letter-spacing: 5px;
	padding-left:33px;
}
.user-addr-default>i{
	position:absolute;
	top:1px;
	left:0;
	display:inline-block;
	width:23px;
	height:23px;
	background:url("../images/more-img.png") -1px -60px no-repeat;
}
.user-addr-default>span{
	display: inline-block;
	width:62px;
	height:30px;
	line-height: 28px;
	margin-left:20px;
	border:1px solid #b4a078;
	text-align: center;
	cursor:pointer;
	background-color:#f5f3ef;
	color:#b4a078;
	border-radius: 2px;
}
.user-addr-default>span:hover{
	background-color:#FFF;
}
.user-addr-info>p:nth-child(n+2){
	font-size: 14px;
	line-height: 24px;
	height:24px;
	color:#999;
}
.user-addr-info>p:nth-child(n+2) i{
	display: inline-block;
	width:76px;
	text-align:left;
	font-style: normal;
}
.user-addr-info>p:nth-child(n+2) span{
	color:#333;
}
.user-addr-operate{
	position: relative;
	top:50px;
	width:252px;
	height:58px;
	border-left:1px solid #e8e8e8;
	text-align: center;
}
.user-addr-operate>p:first-child{
	color:#69c;
	line-height: 24px;
	cursor:pointer;
}
.user-addr-operate>p:last-child{
	display:inline-block;
	width:96px;
	height:28px;
	line-height: 26px;
	text-align: center;
	border:1px solid #ccc;
	color:#333;
	border-radius: 2px;
	background: #f5f3ef;
	cursor: pointer;
}
.user-addr-operate>p:last-child:hover{
	background: #FFF;
}
/* 已有收货地址结束 */

/* 选择默认地址开始 */
.addr-as-default{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.5);
	z-index:100000;
}
.wait-select-box{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-310px;
	margin-left:-330px;
	width:660px;
	height:620px;
	overflow-y: auto;
	background:#fff;
	padding:39px 51px;
}
.wait-select-box>p{
	font-size:18px;
	margin-bottom:43px;
}
.wait-addrs>li{
	position: relative;
	min-height:114px;
	width:525px;
	border:1px solid #e8e8e8;
	margin-bottom: 10px;
	padding:19px 24px;
	line-height: 24px;
}
.wait-addrs>li>p>span:first-child{
	display:inline-block;
	width:70px;
	height:24px;
	color:#999;
}
.wait-addrs>li>p>span:last-child{
	display:inline-block;
	width:330px;
	height:24px;
}
.obtain-person>span:first-child{
	letter-spacing: 4px;
}
.default-addr-mark{
	position: absolute;
	bottom:19px;
	right:24px;
	font-weight: normal;
	color:#b4a078;
}
.select-default-operate{
	position: absolute;
	bottom:0;
	height:42px;
	line-height: 42px;
	text-align: center;
	padding-left: 110px;
}
.select-default-operate>span{
	display: inline-block;
	width:144px;
	height:42px;
	text-align: center;
	background:#b99f6c;
	color:#fff;
	margin-right:20px;
	border-radius: 2px;
	cursor:pointer;
}
.select-default-operate>span:hover{
	background: #ad915b;
}
.close-wait-addr{
	position: absolute;
	top:18px;
	right:18px;
	width:32px;
	height:32px;
	background:url("../images/close.png") center center no-repeat;
}
/* 选择默认地址结束 */

/* 修改或新建地址开始 */
.input-addr>li{
		position: relative;
		font-size:14px;
	}
	.input-addr>li>span{
		position:absolute;
		display:inline-block;
		width:84px;
		margin-right:6px;
		height:28px;
		line-height: 28px;
	}
	.mer_position{
		position:relative;
	}
	.mer_position>span{
		position: absolute;
		top:0;
		left:0;
	}
	.area-box{
		margin-top:5px;
		display: inline-block;
		height:40px;
		margin-left:92px;
	}
	.area-box>div{
		position: relative;
		display:inline-block;
		width:149px;
		height:28px;
		margin-right:10px;
	}
	.mer-province,.mer-city,.mer-regi{
		position: absolute;
		top:0;
		width:131px;
		height:100%;
		border:1px solid #e8e8e8;
		padding:2px 5px;
	}
	#display-pro,#display-city,#display-regi{
		height:28px;
	}
	.mer-pro-icon,.mer-city-icon,.mer-area-icon{
		position: absolute;
		top:0;
		right:0;
		display:inline-block;
		width:20px;
		height:28px;
		border-left:none;
		background:url("../images/down.png") center center no-repeat;
		border:1px solid #e8e8e8;
		border-left:none;
	}
	#all-provinces,#all-citys,#all-regis{
		position: absolute;
		top:28px;
		background:#FFFFFF;
		width:152px;
		max-height:200px;
		z-index:100000;
		border:1px solid #e8e8e8;
		border-top:none;
		overflow-y: auto;
		display:none;
	}
	#all-provinces>li,#all-citys>li,#all-regis>li{
		line-height: 16px;
		padding:2px 5px;
		font-size:12px;
	}
	#all-provinces>li:hover,#all-citys>li:hover,#all-regis>li:hover{
		background:#a1c1c0;
	}
	.mer-detail-addr>textarea{
		height:90px;
		width:474px;
		border:1px solid #e8e8e8;
		resize: none;
		margin-left: 92px;
		border-radius: 2px;
		padding:2px 5px;
	}
	.input-addr>li:last-child{
		height: 28px;
		line-height: 28px;
		margin-top:10px;
	}
	.user-name>span,.user-tel>span{
		display:inline-block;
		width:84px;
		height:28px;
		line-height: 28px;
		font-size:14px;
		letter-spacing: 4px;
	}
	.user-tel>span{
		text-align: right;
	}
	.user-name>input{
		width:150px;
		height:28px;
		line-height: 28px;
		border:1px solid #e8e8e8;
		margin-left: 7px;
		border-radius: 2px;
		padding:2px 5px;
	}
	.user-tel>input{
		margin:0 3px 0 12px;
		width:228px;
		height:28px;
		line-height: 28px;
		border:1px solid #e8e8e8;
		border-radius: 2px;
		padding:2px 5px;
	}
	.select-defalut{
		width:360px;
		height:184px;
		border-left:1px solid #e8e8e8;
		padding:62px 0 0 92px;
	}
	.select-defalut>p:first-child{
		height:17px;
		line-height: 17px;
		margin-bottom: 20px;
	}
	.select-defalut>p:first-child>input{
		position:relative;
		top:1px;
		margin-right:3px;
	}
	.select-defalut>p:last-child>span{
		display: inline-block;
		width:100px;
		height:42px;
		line-height: 40px;
		text-align: center;
		border:1px solid #c0ae8a;
		margin-right:20px;
		border-radius: 2px;
		font-size:16px;
		cursor:pointer;
		background: #f5f3ef;
		color:#c0ae8a;
	}
	.select-defalut>p:last-child>span:hover{
		background: #fff;
	}
/* 修改或新建地址结束 */

/* 用户订单信息开始 */
	.user-order-info{
		margin-top:36px;
		width:100%;
		border:1px solid #e8e8e8;
	}
	.dealSucc-info-box{
		width:100%;
		border-collapse: collapse;
		text-align: center;
	}
	.dealSucc-title{
		height:41px;
		font-size:16px;
		background:#f5f5f5;
		border-bottom: #DDD solid 1px;
	}
	.dealSucc-content>tr{
		height:150px;
		border-bottom: #DDD dashed 1px;
		font-size:14px;
	}
	.dealSucc-content>tr:last-child{
		border-bottom: #DDD solid 1px;
	}
	.book-img{
		width:90px;
		height:90p;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.book-name{
		width:110px;
	}
	.book-delete>span{
		display:inline-block;
		width:50px;
		height:30px;
		line-height: 30px;
		background:#ddbea1;
		border-radius: 3px;
		border:#ddbea1 solid 1px;
		color:#FFF;
		cursor:pointer;
	}
	.payment-num{
		padding:30px 30px 30px 500px;
	}
	.payment-num>div{
		height:40px;
		line-height: 40px;
		font-size:14px;
	}
	.book-total,.virtual-book-total{
		display:inline-block;
		margin-right:200px;
	}
	.book-transit-money,.payment-money{
		display: inline-block;
		position: relative;
	}
	.book-transit-money>span:first-child{
		position: absolute;
		left:-88px;
		top:9px;
		display: inline-block;
		width:72px;
		height:20px;
		line-height: 20px;
		border-top-left-radius:2px;
		border-bottom-left-radius: 2px;
		color:#FFF;
		font-style: normal;
		font-size:12px;
		text-indent: 1px;
		background:#de7669;
		padding-left:10px;
	}
	.book-transit-money>span>i{
		position: absolute;
		top:0;
		left:72px;
		display:inline-block;
		width:9px;
		height:20px;
		background:url("../images/more-img.png") 0 -4940px no-repeat;
	}
	.virtual-book-total>span{
		color:#de7669;
		font-size:18px;
		font-weight:600;
	}
	.payment-money>span{
		position: relative;
		left:-14px;
		display:inline-block;
		width:168px;
		height:42px;
		line-height: 42px;
		background: #c5ad7e;
		color:#FFF;
		cursor:pointer;
		text-align: center;
		border-radius: 2px;
		font-size:16px;
	}
	.payment-money>span:hover{
		background: #b99f6c;
	}
/* 用户订单信息结束 */