<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<bean id="sellectAction" class="com.xiyou.actions.SellectAction">
		<property name="shopService" ref="shopService"></property>
	</bean>
	
	<bean id="upLoadAction" class="com.xiyou.actions.UpLoadAction">
		<property name="sellerService" ref="sellerService"></property>
	</bean>
	
	<bean id="bookDAOImpl" class="com.xiyou.dao.impl.BookDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="bookService" class="com.xiyou.service.BookService" >
		<property name="bookDAOImpl" ref="bookDAOImpl"></property>
		<property name="shopDAOImpl" ref="shopDAOImpl"></property>
	</bean>
	
	<bean id="bookAction" class="com.xiyou.actions.BookAction" scope="prototype">
		<property name="bookService" ref="bookService"></property>
	</bean>
	
	<bean id="shopDAOImpl" class="com.xiyou.dao.impl.ShopDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="shopService" class="com.xiyou.service.ShopService" >
		<property name="shopDAOImpl" ref="shopDAOImpl"></property>
	</bean>
	
	<bean id="shopAction" class="com.xiyou.actions.ShopAction" scope="prototype">
		<property name="shopService" ref="shopService"></property>
	</bean>
	
	<bean id="sellerDAOImpl" class="com.xiyou.dao.impl.SellerDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="sellerService" class="com.xiyou.service.SellerService" >
		<property name="sellerDAOImpl" ref="sellerDAOImpl"></property>
	</bean>
	
	<bean id="sellerAction" class="com.xiyou.actions.SellerAction" scope="prototype">
		<property name="selService" ref="sellerService"></property>
	</bean>
	
	
</beans>