<div class="recom-box">
	<div class="title-box clearfix">
		<p class="recom-title fl">请在店铺的书籍后面标识其质量</p>
		<p class="search-area fl"><input type="text" placeholder="请输入书籍id搜索指定书籍" ng-model="oper.searchBook"/><i ng-click="searchBook()"></i></p>
	</div>
	<div class="table-box">
		<table class="info-box">
			<thead>
				<tr>
					<td>书籍ID</td>
					<td>书籍名称</td>
					<td>书籍作者</td>
					<td>点赞数</td>
					<td>书籍质量评定</td>
					<td>操作</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="book in bookInfo track by $index">
					<td>{{book.bookId}}</td>
					<td>{{book.bookName}}</td>
					<td>{{book.author}}</td>
					<td>{{book.likes}}</td>
					<td>
						<select class="book-degree-box"  ng-model="book.goodBook" ng-selected="book.goodBook==degree"  ng-options="degree for degree in degreeList">
						</select>
					</td>
					<td><span class="save-info" data-id="{{book.bookId}}" ng-click="saveBookDegree($event,book.goodBook)">保存</span></td>
				</tr>
				<!--<tr>
					<td>03131099</td>
					<td>三生三世十里桃花</td>
					<td>溜溜转</td>
					<td>34</td>
					<td>
						<select>
							<option>-请选择-</option>
							<option>良品</op
							<option>非良品</option>tion>
						</select>
					</td>
				</tr>-->
			</tbody>
		</table>
	</div>
	<span class="oper-hint">{{oper.hint}}</span>
	<div class="page-area"></div>
</div>
<style>
	.oper-hint{
		position:fixed;
		top:14px;
		left:650px;
		width:240px;
		height:50px;
		line-height: 50px;
		color:#FFF;
		background:#E78170;
		text-align: center;
		border-radius: 3px;
		font-size:18px;
		display:none;
	}
	.title-box{
		padding:0 30px 0 40px;
	}
	.search-area{
		position:relative;
		top:60px;
		height:32px;
		width:280px;
		margin-left:483px;
		background:#FFF;
		border-radius: 5px;
	}
	.search-area>input{
		height:100%;
		width:240px;
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		padding:5px 10px;
	}
	.search-area>i{
		position: absolute;
		top:4px;
		right:5px;
		height:24px;
		width:24px;
		background:#FFF url("./images/search.png") right center no-repeat;
		cursor:pointer;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		background-size:contain;
	}
	.search-area>i:hover{
		background:#FFF url("./images/search-light.png") right center no-repeat;
		background-size:contain;
	}
	.recom-box{
		width:100%;
        height:100%;
        padding:20px;
	}
	.recom-title{
		font-size:24px;
		line-height:40px;
		color:#4CAF50;
	}
	.table-box{
		margin-top:60px;
		width:1100px;
		/*height:470px;*/
		margin-left:40px;
		overflow: hidden;
	}
	.info-box{
		width:100%;
		height:100%;
		border:#eee solid 1px;
		border-collapse: collapse;
		text-align: center;
		background:#FFF;
	}
	.info-box tr{
		height:40px;
		line-height:40px;
	}
	.info-box tr:hover{
		background:rgba(139, 195, 74, 0.73);
	}
	.info-box>thead>tr{
		font-size:14px;
		font-weight:600;
	}
	.info-box td{
		border:#eee solid 1px;
		padding:0;
	}
	.info-box select{
		border:#3DBCF5 solid 1px;
		padding:2px 20px 5px 2px;
		cursor:pointer;
	}
	.save-info{
		display:inline-block;
		width:80px;
		height:32px;
		line-height: 32px;
		background:rgba(76, 175, 80, 0.74);
		color:#fff;
		text-align: center;
		border-radius: 3px;
		cursor:pointer;
	}
	.save-info:hover{
		background:rgb(18, 107, 22);
	}
	/* 与分页页码插件相关开始 */
	.page-area{
		margin:20px 0 0 40px;
		width:1100px;
		height:32px;
		text-align: center;
	}
	.pager{
		display:inline-block;
	}
	.pager li{
		line-height:16px;
	}
	.pager li.pg-selected{
		border:#a1c1c0  solid 1px;
		background:#ddbea1 ;
	}
	/* 与分页页码插件相关结束 */
</style>