<div class="recom-box">
	<h3 class="recom-title">请在店铺的书籍后面标识其质量</h3>
	<div class="table-box">
		<table class="info-box">
			<thead>
				<tr>
					<td>店铺名称</td>
					<td>店铺主人身份证号</td>
					<td>书籍名称</td>
					<td>书籍作者</td>
					<td>书籍质量评定</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>好呀哈</td>
					<td>632334194551136128</td>
					<td>三生三世十里桃花</td>
					<td>流怜紫</td>
					<td>
						<select>
							<option>-请选择-</option>
							<option>良品</option>
							<option>非良品</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>好呀哈</td>
					<td>632334194551136128</td>
					<td>三生三世十里桃花</td>
					<td>流怜紫</td>
					<td>
						<select>
							<option>-请选择-</option>
							<option>良品</option>
							<option>非良品</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>好呀哈</td>
					<td>632334194551136128</td>
					<td>三生三世十里桃花</td>
					<td>流怜紫</td>
					<td>
						<select>
							<option>-请选择-</option>
							<option>良品</option>
							<option>非良品</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>好呀哈</td>
					<td>632334194551136128</td>
					<td>三生三世十里桃花</td>
					<td>流怜紫</td>
					<td>
						<select>
							<option>-请选择-</option>
							<option>良品</option>
							<option>非良品</option>
						</select>
					</td>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<style>
	.recom-box{
		width:100%;
        height:100%;
        padding:20px;
	}
	.recom-title{
		font-size:24px;
		line-height:40px;
		color:#4CAF50;
		padding-left:40px;
		padding-top:30px;
	}
	.table-box{
		margin-top:30px;
		width:1100px;
		height:500px;
		margin-left:40px;
		overflow-y: auto;
	}
	.info-box{
		width:100%;
		height:100%;
		border:#eee solid 1px;
		border-collapse: collapse;
		text-align: center;
		background:#FFF;
	}
	.info-box tr{
		height:40px;
		line-height:40px;
	}
	.info-box tr:hover{
		background:rgba(139, 195, 74, 0.73);
	}
	.info-box>thead>tr{
		font-size:14px;
		font-weight:600;
	}
	.info-box td{
		border:#eee solid 1px;
		padding:0;
	}
	.info-box select{
		border:#3DBCF5 solid 1px;
		padding:2px 20px 5px 2px;
		cursor:pointer;
	}
</style>