<div class="cate-box">
	<ul class="bigCata clearfix">
		<li data-id="1"><span>教育</span></li>
		<li data-id="2"><span>小说</span></li>
		<li data-id="3"><span>文艺</span></li>
		<li data-id="4"><span>青春</span></li>
		<li data-id="5"><span>童书</span></li>
		<li data-id="6"><span>生活</span></li>
		<li data-id="7"><span>人文社科</span></li>
		<li data-id="8"><span>经管</span></li>
		<li data-id="9"><span>励志</span></li>
		<li data-id="10"><span>科技</span></li>
		<li data-id="11"><span>工具书</span></li>
	</ul>
	<table class="oper-box">
		<thead>
			<tr>
				<td>书籍子类名称</td>
				<td>修改子类名称</td>
				<td>删除子类名称</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="smCate in smCates" data-smCatId="{{smCate.categoryId}}">
				<td><input type="text"  readonly="true"  ng-model="smCate.categoryName" /></td>
				<td><span class="edit-sm-cate" ng-click="editSmate($event)">编辑</span></td>
				<td><span class="delete-sm-cate" ng-click="deleteSmate($event)">删除</span></td>
			</tr>
			<!--<tr data-smCatId="1">
				<td><input type="text"  readonly="true"  ng-model="smCate[0]" /></td>
				<td><span class="edit-sm-cate">编辑</span></td>
				<td><span class="delete-sm-cate">删除</span></td>
			</tr>-->
		</tbody>
	</table>
	<span class="oper-hint"></span>
</div>
<style type="text/css">
	.oper-hint{
		position:fixed;
		top:14px;
		left:650px;
		width:240px;
		height:50px;
		line-height: 50px;
		color:#FFF;
		background:#E78170;
		text-align: center;
		border-radius: 3px;
		font-size:18px;
		display:none;
	}
	.bigCata{
		height:40px;
		line-height: 40px;
		font-size:16px;
		margin:20px 0  30px 0;
	}
	.bigCata>li{
		float:left;
		width:80px;
		margin-right:22px;
		height:100%;
		text-align: center;
		background:rgba(76, 175, 80, 0.74);
		border-radius: 5px;
		cursor:pointer;
		color:#FFF;
	}
	.bigCata>li:hover{
		background:rgb(18, 107, 22);
	}
	.cate-box{
		width:100%;
		height:100%;
		padding:20px 20px 20px 60px;
	}
	.oper-box{
		width:1100px;
		border:#f5f5f5 solid 1px;
		text-align: center;
		background:#FFF;
		border-collapse: collapse;
	}
	.oper-box tr{
		height:40px;
		line-height: 40px;
	}
	.oper-box>thead>tr{
		font-size:14px;
		font-weight:600;
	}
	.oper-box td{
		border:#f5f5f5 solid 1px;
	}
	.oper-box>tbody input{
		width:100%;
		height:40px;
		text-align: center;
	}
	.oper-box>tbody span{
		color:#03A9F4;
		cursor:pointer;
	}
	.oper-box>tbody span:hover{
		text-decoration: underline;
	}
	.bigCata>li:first-child{
		background:rgb(18, 107, 22);
	}
	.highlight-input{
		border:#03A9F4 solid 1px;
	}
</style>