<div>
  <div class="change-tel-box">
  	<h3>更换邮箱号</h3>
  	<ul class="progress-bar-box clearfix">
		  <li>1</li>
		  <li>2</li>
		  <li>3</li>
  	</ul>
  	<ul class="progress-bar-txt clearfix">
  	 	<li>身份验证</li>
  	 	<li>更换新的邮箱号</li>
  	 	<li>完成</li>
  	</ul>
    <p class="change-hint-txt">恭喜您，邮箱号修改成功！</p>
  </div>
</div>
<style type="text/css">
   .change-tel-box{
   	  padding:33px 44px;
   	  height:480px;
   }
   .change-tel-box>h3{
	  font-size:18px;
   }
   .progress-bar-box{
   	  margin:16px auto 0 auto;
   	  width:390px;
   	  height:28px;
   }
   .progress-bar-box>li{
   	  float:left;
   	  height:28px;
   	  color:#FFF;
   	  line-height:28px;
   	  background-image:url('images/progressBar.png');
   }
   .progress-bar-box>li:nth-child(1){
   	  width:100px;
   	  background-position:0 -4px;
   	  text-indent:10px;
   }
   .progress-bar-box>li:nth-child(2){
	  width:184px;
	  text-align:center;
	  background-position:0 -80px;
   }
   .progress-bar-box>li:nth-child(3){
   	  width:100px;
   	  background-position:-9px -156px;
   	  text-indent:83px;
   }
   .progress-bar-txt{
   	  height:29px;
   	  width:392px;
   	  margin:10px 180px 0 196px;
   }
   .progress-bar-txt>li{
   	  float:left;
   }
   .progress-bar-txt>li:nth-child(1){
   	  width:120px;
      text-align:left;
   }
   .progress-bar-txt>li:nth-child(2){
	  width:176px;
	  text-align:center;
   }
   .progress-bar-txt>li:nth-child(3){
      width:96px;
      text-align:right;
   }
   .change-hint-txt{
      margin:20px auto 0 auto;
      font-size:14px;
      padding-left:40px;
      text-align:center;
      height:35px;
      line-height:35px;
      width:216px;
      background:url('images/success.png') left center no-repeat;
   }
  
  
</style>