<div>
	<nav class="book-big-categorys">
		<ul class="book-cate clearfix">
			<li><a class="first-category" data-id="1">教育</a></li>
			<li><a data-id="2">小说</a></li>
			<li><a data-id="3">文艺</a></li>
			<li><a data-id="4">青春</a></li>
			<li><a data-id="5">童书</a></li>
			<li><a data-id="6">生活</a></li>
			<li><a data-id="7">人文社科</a><i class="book-cate-more-icon" ng-click="showMoreCate()"></i></li>
		</ul>
		<ul class="book-cate-more clearfix">
			<li><a data-id="8">经管</a></li>
			<li><a data-id="9">励志</a></li>
			<li><a data-id="10">科技</a></li>
			<li><a data-id="11">工具书</a></li>
		</ul>
	</nav>

	<!-- 各种类别书籍展示，开始 -->
	<div>
		<ul class="book-display clearfix">
			<li ng-repeat="perBook in bookList track by $index">
				<div class="book-img-edit">
					<img src="{{perBook.curImg}}" data-id="{{perBook.id}}" ng-click="jumpDetail($event)"/>
					<a class="oper-icon" title="编辑或删除" ng-click="showOrHideOper($event)"></a>
					<ul class="book-oper"><li data-id="{{perBook.id}}" ng-click="toEditBook($event)">编辑</li><li data-id="{{perBook.id}}" ng-click="toDeleteBook($event)">删除</li></ul>
				</div>
				<p class="price-support">
					<span class="support-icon"></span>
					<span class="support-num">{{perBook.likes}}</span>
					<span class="book-price">￥{{perBook.price}}</span>
				</p>
				<p class="book-name">{{perBook.name}}</p>
			</li>
			<!--<li>
				<div class="book-img-edit">
					<img src="./images/index/e00002.jpg"/>
					<a class="oper-icon" title="编辑或删除" ng-click="showOrHideOper()"></a>
					<ul class="book-oper"><li>编辑</li><li>删除</li></ul>
				</div>
				<p class="price-support">
					<span class="support-icon"></span>
					<span class="support-num">23</span>
					<span class="book-price">￥23.3</span>
				</p>
				<p class="book-name">三生三世十里桃花</p>
			</li>-->
			<li class="add-more-book" ng-click="jumpAddNewBook()"><span></span></li>
		</ul>
	</div>
	<div class="page-area">
	</div>
	<p class="oper-hint"></p>
	<!-- 各种类别书籍展示，结束 -->
</div>
<style type="text/css">
	.oper-hint{
		position:fixed;
		top:5px;
		left:550px;
		width:300px;
		height:40px;
		line-height:40px;
		color:#FFF;
		background-color:#E78170;
		text-align:center;
		border-radius:3px;
		z-index:9999999;
		display:none;
	}
	nav{
		padding-bottom:33px;
		border-bottom:#d7d2d2 dashed 1px;
		margin-bottom:33px;
	}
	.book-cate>li,.book-cate-more>li{
		position:relative;
		float:left;
		width:108px;
		height:38px;
		line-height:38px;
		font-size:16px;
		font-weight:500;
	}
	.first-category{
		color:#ddbea1;
	}
	.book-cate li a,.book-cate-more li a{
		cursor:pointer;
	}
	.book-cate li a:hover,.book-cate-more li a:hover{
		color:#ddbea1;
	}
	.book-cate-more-icon{
		position:absolute;
		left:122px;
		top:4px;
		width:28px;
		height:28px;
		background-image:url("./images/more.png");
		background-repeat:no-repeat;
		background-size:cover;
		cursor:pointer;
	}
	.book-cate-more-icon:hover{
		background-image:url("./images/more-hover.png");
	}
	.book-cate-more{
		display:none;
		height:38px;
	}

	/*书籍类别具体书籍展示开始*/
	.book-display>li{
		position:relative;
		float:left;
		border:#d7d2d2 solid 1px;
		width:19.2%;
		height:180px;
		margin:0 1% 1% 0;
		padding-top:12px;
		overflow: hidden;
		cursor:pointer;
	}
	.book-display>li:nth-of-type(5n){
		margin-right:0;
	}
	.book-img-edit{
		width:130px;
		height:130px;
		margin:0 auto;
		text-align: center;
	}
	.book-img-edit>img{
		max-height:100%;
		max-width:100%;
	}
	.book-name{
		margin-top:7px;
		padding-top:7px;
		text-align:center;
		border-top:#d7d2d2 dashed 1px;
	}
	.price-support{
		position:absolute;
		bottom:-40px;
		height:40px;
		width:100%;
		line-height:40px;
		background:#000;
		opacity:0.7;
		z-index:888;
		color:#FFF;
		transition: bottom 0.4s;
	}
	.book-display>li:hover .price-support{
		bottom:0;
	}
	.price-support>span{
		display:inline-block;
		line-height:40px;
		font-size:16px;
	}
	.support-icon{
		position:absolute;
		top:5px;
		left:6px;
		width:28px;
		height:28px;
		background:url("./images/support.png") 0 0 no-repeat;
		background-size:contain;
	}
	.support-num{
		margin-left:42px;
	}
	.book-price{
		margin-left:30px;
	}
	.oper-icon{
		position:absolute;
		right:4px;
		top:4px;
		width:20px;
		height:20px;
		background:#FFF url("./images/set.png") 0 0 no-repeat;
		cursor:pointer;
		z-index:1000;
		display:none;
		padding:3px;
		border:#d7d2d2 solid 1px;
		background-size:contain;
		box-shadow: -1px 0 1px #d7d2d2, 0 1px 1px #d7d2d2, 1px 0 1px #d7d2d2, 0 -1px 1px #d7d2d2;
	}
	.book-display>li:hover .oper-icon{
		display:block;
	}
	.book-oper{
		position:absolute;
		right:4px;
		top:23px;
		width:85px;
		height:66px;
		text-indent:36px;
		border:#d7d2d2 solid 1px;
		box-shadow: -1px 0 1px #d7d2d2, 0 1px 1px #d7d2d2, 1px 0 1px #d7d2d2, 0 -1px 1px #d7d2d2;
		border-radius: 2px;
		display:none;
	}
	.book-oper>li{
		width:100%;
		height:32px;
		line-height:32px;
		cursor:poniter;
	}
	.book-oper>li:nth-of-type(1){
		background:#FFF url("./images/edit.png") 8px 8px no-repeat;
	}
	.book-oper>li:nth-of-type(2){
		background:#FFF url("./images/delete.png") 8px 8px no-repeat;
	}
	.book-oper>li:hover:nth-of-type(1){
		background:#ddbea1 url("./images/edit.png") 8px 8px no-repeat;
	}
	.book-oper>li:hover:nth-of-type(2){
		background:#ddbea1  url("./images/delete.png") 8px 8px no-repeat;
	}
	/*书籍类别具体书籍展示结束*/

	/* 与分页页码插件相关开始 */
	.page-area{
		margin-top:40px;
		text-align: center;
	}
	.pager li{
		line-height:16px;
	}
	.pager li.pg-selected{
		border:#a1c1c0  solid 1px;
		background:#ddbea1 ;
	}
	/* 与分页页码插件相关结束 */
	.add-more-book{
		background:#f0f3ec;
		display: flex;
		align-items: center;/*垂直居中*/
  		justify-content: center;/*水平居中*/
	}
	.add-more-book>span{
		display:block;
		width:64px;
		height:64px;
		background-image:url("./images/add-book.png");
		background-repeat: no-repeat;
		background-position: 0 0;
		transition: background-position 0.4s;
	}
	.add-more-book:hover>span{
		background-position: 0 -86px;
	}
</style>