<div>
	<ul class="my-info-box">
		<li><span>头像：</span><span class="my-img"><img ng-src="{{ user.img }}" align="absmiddle" ng-click="showChangeImg()"/><i ng-click="showChangeImg()">修改</i></span></li>
		<li><span>昵称：</span><span class="my-name"><input type="text" ng-model="user.name" class="user-input" id="username"  data-id="0"/></span><b class="regi-hint name-hint"></b></li>
		<li><span>年龄：</span><span  class="my-age"><input type="text" ng-model="user.age" class="user-input" id="myAge"  data-id="1"/></span><b class="regi-hint sellerAge-hint"></b></li>
		<li><span>性别：</span><span class="my-sex"><input type="radio" name="sex" value="男" ng-model="user.sex"/>男<input type="radio" name="sex"  ng-model="user.sex" value="女"/>女</span></li>
		<li><span>邮箱：</span><span  class="my-mail"><input type="text" ng-model="user.mail" class="user-input" id="tel"  data-id="2"/></span><b class="regi-hint tel-hint" ></b></li>
		<li><span>身份证：</span><span class="my-id"><input type="text" ng-model="user.id" class="user-input" id="myId"  data-id="3"/></span><b class="regi-hint sellerId-hint" ></b></li>
		<li><span>密码：</span><span class="my-pass"><input type="password" ng-model="user.pwd" class="user-input" id="pwd"  data-id="4"/></span><b class="regi-hint pwd-hint" ></b></li>
		<li><span>重复密码：</span><span class="my-repass"><input type="password" ng-model="user.rePwd" class="user-input" id="repwd"  data-id="5"/></span><b class="regi-hint repwd-hint"></b></li>
	</ul>
	<p class="save-info" ng-click="saveMerInfo()"><span>保存</span></p>
	<p class="save-data">修改失败，请检查输入信息格式！</p>
	<aside>
		<div class="cust-box-addi" ng-style="changeImgBox">
				<div class="cust-content">
					<h4>设置头像</h4>
					<div class="cust-img-box">
						<div class="thumbBox"></div>
    					<div class="spinner" style="display: none"></div>
					</div>
					<div class="cust-btn-box clearfix">
						<a href="javascript:;" class="select-img">点击选择图片<input type="file" id="loadImg"/></a>
						<span class="bigger-img">+</span>
						<span class="smaller-img">-</span>
						<span class="save-img" ng-click="saveImg()">保存</span>
					</div>
					<p class="operHint">{{ changeImgHint }}</p>
					<i class="cust-img-close" ng-click="hideChangeImg()"></i>
				</div>
			</div>
	</aside>
</div>

<style type="text/css">
	.my-info-box{
		padding-bottom:20px;
		border-bottom:#EEE dashed 1px; 
		margin-bottom:36px;
	}
	.my-info-box>li{
		height:40px;
		line-height:40px;
		margin-bottom:20px;
		font-size:16px;
		position:relative;
	}
	.my-info-box>li:first-child{
		height:98px;
		line-height:98px;
	}
	.my-info-box>li>span:first-child{
		display:inline-block;
		width:82px;
		margin-right:10px;
	}
	.my-img{
		position:absolute;
		width:98px;
		height:98px;
		overflow: hidden;
		border:#f0f3ec solid 1px;
		border-radius: 50%;
	}
	.my-img img{
		position:absolute;
		width:100%;
	}
	.my-img i{
		opacity:0;
	}
	.my-img:hover i{
		position:absolute;
		font-style: normal;
		width:100%;
		background:#000;
		opacity: 0.3;
		z-index:888;
		color:#FFF;
		text-align: center;
		cursor:pointer;
	}
	.my-name>input,.my-age>input,.my-mail>input,.my-id>input,.my-pass>input,.my-repass>input{
		display:inline-block;
		height:40px;
		width:300px;
		line-height: 40px;
		border:#EEE  solid 1px;
		padding:5px 10px;
		border-radius: 3px;
	}
	.my-pass>input,.my-repass>input{
		font-size:30px;
	}
	.my-sex>input{
		margin:0 6px 0 70px;
	}
	.save-info{
		height:42px;
		line-height: 42px;
		font-size:18px;
		padding:0 100px;
		text-align:right;
	}
	.save-info>span{
		display:inline-block;
		width:144px;
		height:100%;
		color:#FFF;
		background: #E78170;
		text-align:center;
		border-radius: 5px;
		cursor:pointer;
	}
	.save-info>span:hover{
		background:#e48a78;
	}
	.regi-hint{
		display:inline-block;
		margin-left:30px;
		font-weight:normal;
		font-size:12px;
		color:#BD2D30;
		padding-left:20px;
		background-image:url("./images/right.png");
		background-repeat:no-repeat;
		background-position:-1px 12px;
	}
	.regi-right-hint{
		background-image:url("images/right.png");
		background-position:left center;
		background-repeat:no-repeat;
		display: inline-block;
		color:#10d158;
	}
	.regi-error-hint{
		background-image:url("images/error.png");
		background-position:left center;
		background-repeat:no-repeat;
		display: inline-block;
	}

	/*更换头像开始*/
	.cust-box-addi{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.7);
		z-index:2000;
		display:none;
	}
	.cust-content{
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		top:0;
		margin:auto;
		width:500px;
		height:480px;
		background:#FFF;
		padding:40px;
	}
	.cust-content>h4{
		font-size:18px;
		font-weight:normal;
	}
	.cust-img-box{
		position:relative;
		margin:20px 0;
		width:100%;
		height:295px;
		text-align:center;
		border:#e8e8e8 solid 1px;
		overflow:hidden;
		cursor:move;
		box-shadow:0 -2px 4px #e8e8e8,2px 0 4px #e8e8e8,0 2px 4px #e8e8e8,-2px 0 4px #e8e8e8;
	}
	.cust-btn-box{
		font-size:16px;
		text-align:center;
		height:40px;
		line-height:40px;
		text-align:center;
	}
	.cust-img-close{
		position:absolute;
		right:32px;
		top:24px;
		display:block;
		width:30px;
		height:30px;
		background:url("./images/close.png") center center no-repeat;
		background-size:cover;
		cursor:pointer;
	}
	.thumbBox {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 200px;
		height: 200px;
		margin-top: -100px;
		border-radius:200px;
		margin-left: -100px;
		box-sizing: border-box;
		border: 1px solid rgb(102, 102, 102);
		box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
		background: none repeat scroll 0% 0% transparent;
	}
	.spinner {
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  	bottom: 0;
	  	right: 0;
	  	text-align: center;
	  	line-height: 400px;
	  	color: #2F2A2A;
	  	background: rgba(213, 211, 211, 0.7);
	}
	.select-img{
		position:relative;
		float:left;
		background:#AE9769;
		color:#FFF;
		width:150px;
		height:100%;
		overflow:hidden;
		border-radius:4px;
	}
	#loadImg{
		position:absolute;
		top:-20px;
		left:-20px;
		width:200%;
		height:200%;
		opacity:0;
		cursor:pointer;
	}
	.bigger-img,.smaller-img,.save-img{
		display:inline-block;
		cursor:pointer;
		float:left;
		width:50px;
		height:100%;
		border-radius:4px;
		background:#AE9769;
		color:#FFF;
		font-size:24px;
		margin-left:10px;
	}
	.save-img{
		float:right;
		width:100px;
		font-size:16px;
	}
	.operHint{
		margin-top:8px;
		color:#E48A78;
		text-align:center;
	}
	/*更换头像结束*/
	.save-data{
		position:fixed;
		top:30px;
		right:250px;
		width:300px;
		height:40px;
		line-height: 40px;
		font-size:16px;
		border-radius: 5px;
		background-color:#E78170;
		text-align: center;
		color:#FFF;
		margin:0 auto;
		display:none;
	}
</style>