<div>
	<p class="shop-admin-title"><span class="highlight-title" data-id="1">店铺信息</span><i></i><span data-id="2">信息统计</span></p>
	<div class="shop-admin-cont">
		<div class="shop-info-box">
			<ul class="my-info-box">
				<li><span>店铺图标：</span><span class="my-img"><img ng-src="{{ user.img }}" align="absmiddle" ng-click="showChangeImg()"/><i ng-click="showChangeImg()">修改</i></span></li>
				<li><span>店铺名称：</span><span class="my-name"><input type="text" ng-model="user.name" placeholder="请为您的小店起名" class="user-input"/></span></li>
				<li><span>店铺等级：</span><span class="my-degree"><input type="text" ng-model="user.degree" readonly="true" /></li>
				<li class="mer_position">
					<span>所在地区：</span>
					<div class="area-box">
						<div class="province-box">
							<div id="display-pro"><input type="text" ng-model="user.selectProvince" readonly="true" class="mer-province"/><i class="mer-pro-icon"></i></div>
							<ul id="all-provinces">
								<!--此处用js生成省的信息-->
							</ul>
						</div>
						<div class="city-box">
							<div id="display-city"><input type="text" ng-model="user.selectCity" readonly="true" class="mer-city"/><i class="mer-city-icon"></i></div>
							<ul id="all-citys">
								<!--此处用js生成市信息-->
							</ul>
						</div>
						<div class="regi-box">
							<div id="display-regi"><input type="text" ng-model="user.selectRegi" readonly="true" class="mer-regi"/><i class="mer-area-icon"></i></div>
							<ul id="all-regis">
								<!--此处用js生成区信息-->
							</ul>
						</div>
					</div>
				</li>
				<li class="mer-detail-addr"><span>详细地址：</span><span class="my-repass"><textarea ng-model="user.street" placeholder="街道、门牌号等" class="user-input"></textarea></span></li>
				<li><span>店铺简介：</span><span  class="my-age"><input type="text" ng-model="user.notice" maxlength="30" placeholder="用一句话简介您的小店，不超过30字"  class="user-input"/></span><b></b></li>
			</ul>
			<p class="save-info" ng-click="saveMerInfo()"><span>保存</span></p>
			<p class="save-data">修改失败，请检查输入信息格式！</p>
			<aside>
				<div class="cust-box-addi" ng-style="changeImgBox">
					<div class="cust-content">
						<h4>设置头像</h4>
						<div class="cust-img-box">
							<div class="thumbBox"></div>
	    					<div class="spinner" style="display: none"></div>
						</div>
						<div class="cust-btn-box clearfix">
							<a href="javascript:;" class="select-img">点击选择图片<input type="file" id="loadImg"/></a>
							<span class="bigger-img">+</span>
							<span class="smaller-img">-</span>
							<span class="save-img" ng-click="saveImg()">保存</span>
						</div>
						<p class="operHint">{{ changeImgHint }}</p>
						<i class="cust-img-close" ng-click="hideChangeImg()"></i>
					</div>
				</div>
			</aside>
		</div>
		<div class="shop-stat-box">
			<h1>我是信息统计</h1>
		</div>
	</div>
</div>
<style>
	.shop-stat-box{
		display:none;
		height:600px;
	}
	.shop-admin-title{
		position:relative;
		height:41px;
		padding:5px 0 5px 0;
		line-height: 30px;
		margin-bottom:14px;
		font-size:20px;
		font-weight:bold;
		color:#666;
		border-bottom: #DDD solid 1px;
	}
	.shop-admin-title>span{
		display:inline-block;
		width:140px;
		text-align:center;
		padding-bottom: 5px;
		cursor:pointer;
	}
	.shop-admin-title>span:hover{
		color:#b4a078;
	}
	.shop-admin-title>i{
		position:absolute;
		top:12px;
		left:140px;
		width:1px;
		height:20px;
		font-style: normal;
		color:#DDD;
		border-right:#DDD solid 1px;
	}
	.highlight-title{
		color:#b4a078;
		border-bottom: #b4a078 solid 2px;
	}
	/* 店铺信息开始 */
	.my-info-box{
		padding-bottom:20px;
		border-bottom:#DDD dashed 1px; 
		margin-bottom:36px;
	}
	.my-info-box>li{
		height:40px;
		line-height:40px;
		margin-bottom:20px;
		font-size:16px;
		position:relative;
	}
	.my-info-box>li:first-child{
		height:98px;
		line-height:98px;
	}
	.my-info-box>li>span:first-child{
		display:inline-block;
		width:82px;
		margin-right:10px;
	}
	.my-img{
		position:absolute;
		width:98px;
		height:98px;
		overflow: hidden;
		border:#f0f3ec solid 1px;
		border-radius: 50%;
	}
	.my-img img{
		position:absolute;
		width:100%;
	}
	.my-img i{
		opacity:0;
	}
	.my-img:hover i{
		position:absolute;
		font-style: normal;
		width:100%;
		background:#000;
		opacity: 0.3;
		z-index:888;
		color:#FFF;
		text-align: center;
		cursor:pointer;
	}
	.my-name>input,.my-age>input,.my-degree>input{
		display:inline-block;
		height:40px;
		width:300px;
		line-height: 40px;
		border:#DDD  solid 1px;
		padding:5px 10px;
		border-radius: 3px;
	}
	.mer-detail-addr{
		position:relative;
		margin-bottom: 20px;
		height:90px !important;
	}
	.mer-detail-addr>span:first-child{
		position:absolute;
		top:0;
	}
	.my-repass>textarea{
		width:485px;
		height:90px;
		border:#DDD solid 1px;
		padding:9px;
		border-radius: 3px;
		margin-left:92px;
		resize: none;
	}
	.my-age>input{
		width:485px;
	}
	.save-info{
		height:42px;
		line-height: 42px;
		font-size:18px;
		padding:0 100px;
		text-align:right;
	}
	.save-info>span{
		display:inline-block;
		width:144px;
		height:100%;
		color:#FFF;
		background: #E78170;
		text-align:center;
		border-radius: 2px;
		cursor:pointer;
	}
	.save-info>span:hover{
		background:#e48a78;
	}
	.my-info-box b{
		display:inline-block;
		margin-left:30px;
		font-weight:normal;
		font-size:12px;
		color:#10d158;
		padding-left:20px;
		background-image:url("./images/right.png");
		background-repeat:no-repeat;
		background-position:-1px 12px;
	}

	/*更换头像开始*/
	.cust-box-addi{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.7);
		z-index:2000;
		display:none;
	}
	.cust-content{
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		top:0;
		margin:auto;
		width:500px;
		height:480px;
		background:#FFF;
		padding:40px;
	}
	.cust-content>h4{
		font-size:18px;
		font-weight:normal;
	}
	.cust-img-box{
		position:relative;
		margin:20px 0;
		width:100%;
		height:295px;
		text-align:center;
		border:#e8e8e8 solid 1px;
		overflow:hidden;
		cursor:move;
		box-shadow:0 -2px 4px #e8e8e8,2px 0 4px #e8e8e8,0 2px 4px #e8e8e8,-2px 0 4px #e8e8e8;
	}
	.cust-btn-box{
		font-size:16px;
		text-align:center;
		height:40px;
		line-height:40px;
		text-align:center;
	}
	.cust-img-close{
		position:absolute;
		right:32px;
		top:24px;
		display:block;
		width:30px;
		height:30px;
		background:url("./images/close.png") center center no-repeat;
		background-size:cover;
		cursor:pointer;
	}
	.thumbBox {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 200px;
		height: 200px;
		margin-top: -100px;
		border-radius:200px;
		margin-left: -100px;
		box-sizing: border-box;
		border: 1px solid rgb(102, 102, 102);
		box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
		background: none repeat scroll 0% 0% transparent;
	}
	.spinner {
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  	bottom: 0;
	  	right: 0;
	  	text-align: center;
	  	line-height: 400px;
	  	color: #2F2A2A;
	  	background: rgba(213, 211, 211, 0.7);
	}
	.select-img{
		position:relative;
		float:left;
		background:#AE9769;
		color:#FFF;
		width:150px;
		height:100%;
		overflow:hidden;
		border-radius:4px;
	}
	#loadImg{
		position:absolute;
		top:-20px;
		left:-20px;
		width:200%;
		height:200%;
		opacity:0;
		cursor:pointer;
	}
	.bigger-img,.smaller-img,.save-img{
		display:inline-block;
		cursor:pointer;
		float:left;
		width:50px;
		height:100%;
		border-radius:4px;
		background:#AE9769;
		color:#FFF;
		font-size:24px;
		margin-left:10px;
	}
	.save-img{
		float:right;
		width:100px;
		font-size:16px;
	}
	.operHint{
		margin-top:8px;
		color:#E48A78;
		text-align:center;
	}
	/*更换头像结束*/
	/* 店铺信息结束 */

	/* 信息统计开始 */
	/* 信息统计结束 */

	/* 选择地区开始 */
	.mer_position{
		position:relative;
	}
	.mer_position>span{
		position: absolute;
		top:0;
		left:0;
	}
	.area-box{
		margin-top:5px;
		display: inline-block;
		height:40px;
		margin-left:92px;
	}
	.area-box>div{
		position: relative;
		display:inline-block;
		width:152px;
		height:28px;
		margin-right:10px;
	}
	.mer-province,.mer-city,.mer-regi{
		position: absolute;
		top:0;
		width:132px;
		height:100%;
		border:#DDD solid 1px;
		padding:2px 5px;
	}
	#display-pro,#display-city,#display-regi{
		height:28px;
	}
	.mer-pro-icon,.mer-city-icon,.mer-area-icon{
		position: absolute;
		top:0;
		right:0;
		display:inline-block;
		width:20px;
		height:28px;
		border-left:none;
		background:url("./images/down.png") center center no-repeat;
		border:#DDD solid 1px;
		border-left:none;
	}
	#all-provinces,#all-citys,#all-regis{
		position: absolute;
		top:28px;
		background:#FFFFFF;
		width:152px;
		height:200px;
		z-index:100000;
		border:#DDD solid 1px;
		border-top:none;
		overflow-y: auto;
		display:none;
	}
	#all-provinces>li,#all-citys>li,#all-regis>li{
		line-height: 16px;
		padding:2px 5px;
		font-size:12px;
	}
	#all-provinces>li:hover,#all-citys>li:hover,#all-regis>li:hover{
		background:#a1c1c0;
	}
	/* 选择地区结束 */
	.save-data{
		position:fixed;
		top:30px;
		right:250px;
		width:300px;
		height:40px;
		line-height: 40px;
		font-size:16px;
		border-radius: 5px;
		background-color:#E78170;
		text-align: center;
		color:#FFF;
		margin:0 auto;
		display:none;
	}
</style>