<div>
  <ul class="account-safety">
	<li>
	  <span class="account-item-title">您当前的账号</span><span class="account-stress">18829289125</span>
	</li>
	<li>
      <span class="account-item-title success-icon">登录密码</span>
      <span class="account-hint-txt">建议您定期更换密码，设置安全性高的密码可以使帐号更安全</span>
	  <span class="account-oper">修改</span>
	</li>
	<li>
	  <span class="account-item-title success-icon">绑定手机</span>
	  <span class="account-hint-txt">绑定手机：<span class="account-stress">18829289125</span>，若手机丢失或停用，请及时更换</span>
	  <span class="account-oper">更换</span>
	</li>
	<li>
	  <span class="account-item-title warn-icon">支付密码</span>
	  <span class="account-hint-txt">支付密码启用后，将作为您帐号资产使用时的身份证明</span>
	  <span class="account-oper">立即设置</span>
	</li>
  </ul>
</div>
<style type="text/css">
  .account-safety{
  	padding:10px 44px;
  }
  .account-safety>li{
  	height:78px;
  	line-height:21px;
  	padding-top:28px;
  	padding-bottom:28px;
  	border-bottom:#e8e8e8 dashed 1px;
  }
  .account-safety>li:first-child{
  	border-bottom:#e8e8e8 solid 1px;
  }
  .account-item-title{
  	display:inline-block;
  	width:90px;
  	height:21px;
    font-size:14px;
    margin-right:60px;
  }
  .success-icon{
	 padding-left:28px;
	 background:url('images/success-small.png') left center no-repeat;
  }
  .warn-icon{
  	padding-left:28px;
  	background:url('images/warn-small.png') left center no-repeat;
  }
  .account-hint-txt{
  	color:#999;
  }
  .account-stress{
  	font-size:14px;
  	color:#161616;
  }
  .account-oper{
  	float:right;
  	color:#699BCD;
  	cursor:pointer;
  }
  .account-oper:hover{
  	text-decoration: underline;
  }
</style>