<!-- 注：此页面没有地址、已有地址的情况我已写了 -->
<div>
	<div class="no-addr-box" style="display:none">
		<div>
			<p class="addr-img"><span></span></p>
			<p class="addr-hint"><span>您还没有收货地址</span></p>
			<p class="addr-add-text"><a ng-click="goAddNewAddr()" >+ 新建地址</a></p>
		</div>
	</div>
	<div class="operate-addr-box" >
		<div class="mask"></div>
		<div class="add-addr">
			<p class="addr-title"><span>新建地址</span><i ng-click="closeAddAddr()"></i></p>
			<from>
				<ul class="input-addr clearfix">
					<li class="mer_position">
						<span>所在地区：</span>
						<div class="area-box">
							<div class="province-box">
								<div id="display-pro"><input type="text" ng-model="user.selectProvince" data-id="{{ user.selectProvinceId }}" readonly="true" class="mer-province"/><i class="mer-pro-icon"></i></div>
								<ul id="all-provinces">
									<!--此处用js生成省的信息-->
								</ul>
							</div>
							<div class="city-box">
								<div id="display-city"><input type="text" ng-model="user.selectCity" data-id="{{ user.selectCityId }}" readonly="true" class="mer-city"/><i class="mer-city-icon"></i></div>
								<ul id="all-citys">
									<!--此处用js生成市信息-->
								</ul>
							</div>
							<div class="regi-box">
								<div id="display-regi"><input type="text" ng-model="user.selectRegi" data-id="{{ user.selectRegiId }}" readonly="true" class="mer-regi"/><i class="mer-area-icon"></i></div>
								<ul id="all-regis">
									<!--此处用js生成区信息-->
								</ul>
							</div>
						</div>
					</li>
					<li class="mer-detail-addr"><span>详细地址：</span><textarea ng-model="user.street" placeholder="街道、门牌号等" class="user-input"></textarea></li>
					<li class="clearfix">
						<p class="user-name fl"><span>收货人：</span><input type="text" placeholder="请输入您的姓名" /></p>
						<p class="user-tel fl"><span>手机号:</span><input type="text" placeholder="请输入您的手机号" /></p>
					</li>
				</ul>
			</from>
			<p class="addr-default"><span><input type="checkbox" id="default"/><label for="default">设为默认</label></span><span class="add-addr-sure">确认</span><span class="add-addr-cancel">取消</span></p>
		</div>
	</div>
	<div class="display-addr">
		<p class="display-addr-hint clearfix"><span class="fl">已保存收货地址（最多保存3条）</span><span class="fr" ng-click="goNewAddr2()">+ 新建地址</span></p>
		<table class="addr-info-box">
			<thead>
				<tr style="height:43px"><th>收货人</th><th>地址</th><th>联系方式</th><th>操作</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="perAddr in userArr">
					<td>{{perAddr.name}}</td>
					<td>{{perAddr.addrDetail}}</td>
					<td>{{perAddr.tel}}</td>
					<td class="display-addr-oper"><span ng-click="editMyAddr()">编辑</span><span ng-click="deleteMyAddr()">删除</span><span>设为默认地址</span></td>
				</tr>
				<!--<tr><td>黄小霞</td><td>陕西省西安市长安区西安邮电大学南校区</td><td>18829289125</td><td class="display-addr-oper"><span>编辑</span><span>删除</span><span>默认地址</span></td></tr>-->
			</tbody>
		</table>
	</div>
	<div class="edit-addr-box" >
		<div class="mask"></div>
		<div class="add-addr">
			<p class="addr-title"><span>编辑地址</span><i ng-click="closeEditAddr()"></i></p>
			<from>
				<ul class="input-addr clearfix">
					<li class="mer_position">
						<span>所在地区：</span>
						<div class="area-box">
							<div class="province-box">
								<div id="display-pro"><input type="text" ng-model="user.selectProvince" data-id="{{ user.selectProvinceId }}" readonly="true" class="mer-province"/><i class="mer-pro-icon"></i></div>
								<ul id="all-provinces">
									<!--此处用js生成省的信息-->
								</ul>
							</div>
							<div class="city-box">
								<div id="display-city"><input type="text" ng-model="user.selectCity" data-id="{{ user.selectCityId }}" readonly="true" class="mer-city"/><i class="mer-city-icon"></i></div>
								<ul id="all-citys">
									<!--此处用js生成市信息-->
								</ul>
							</div>
							<div class="regi-box">
								<div id="display-regi"><input type="text" ng-model="user.selectRegi" data-id="{{ user.selectRegiId }}" readonly="true" class="mer-regi"/><i class="mer-area-icon"></i></div>
								<ul id="all-regis">
									<!--此处用js生成区信息-->
								</ul>
							</div>
						</div>
					</li>
					<li class="mer-detail-addr"><span>详细地址：</span><textarea ng-model="user.street" placeholder="街道、门牌号等" class="user-input"></textarea></li>
					<li class="clearfix">
						<p class="user-name fl"><span>收货人：</span><input type="text" placeholder="请输入您的姓名" /></p>
						<p class="user-tel fl"><span>手机号:</span><input type="text" placeholder="请输入您的手机号" /></p>
					</li>
				</ul>
			</from>
			<p class="addr-default"><span><input type="checkbox" id="default"/><label for="default">设为默认</label></span><span class="add-addr-sure">确认</span><span class="add-addr-cancel">取消</span></p>
		</div>
	</div>
	<p class="oper-hint">编辑成功</p>
</div>

<style type="text/css">
	.oper-hint{
		position:fixed;
		top:5px;
		left:550px;
		width:300px;
		height:40px;
		line-height:40px;
		color:#FFF;
		background-color:#E78170;
		text-align:center;
		border-radius:3px;
		z-index:9999999;
	}
	/* 没有地址开始 */
	.no-addr-box{
		width:100%;
		min-height:480px;
		display:flex;
		justify-content: center;
		align-items: center;
	}
	.addr-img>span{
		display:block;
		width:50px;
		height:50px;
		background:url("./images/more-img.png") 0 0 no-repeat;
		margin:0 auto;
	}
	.addr-hint>span{
		display:block;
		font-size:16px;
		font-weight:500;
		margin-top:10px;
	}
	.addr-add-text>a{
		display:block;
		font-size:14px;
		font-weight:500;
		margin-top:10px;
		color:#69c;
		text-align: center;
		cursor:pointer;
	}
	/* 没有地址结束 */

	/* 新建地址开始 */
	.mask{
		position:fixed;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background:#000;
		z-index: 99999;
		opacity:0.6;
	}
	.add-addr{
		position:fixed;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		width:660px;
		height:414px;
		background:#FFF;
		z-index:99999;
		padding:30px 40px;
	}
	.addr-title{
		position:relative;
		font-size:18px;
		margin-bottom:43px;
	}
	.addr-title>i{
		position:absolute;
		right:-4px;
		top:-10px;
		width:24px;
		height:24px;
		background:url("./images/close.png") center center no-repeat;
		cursor:pointer;
	}
	/*新建地址主要部分开始*/
	.input-addr>li{
		position: relative;
		font-size:14px;
	}
	.input-addr>li>span{
		position:absolute;
		display:inline-block;
		width:84px;
		margin-right:6px;
		height:28px;
		line-height: 28px;
	}
	.mer_position{
		position:relative;
	}
	.mer_position>span{
		position: absolute;
		top:0;
		left:0;
	}
	.area-box{
		margin-top:5px;
		display: inline-block;
		height:40px;
		margin-left:92px;
	}
	.area-box>div{
		position: relative;
		display:inline-block;
		width:149px;
		height:28px;
		margin-right:10px;
	}
	.mer-province,.mer-city,.mer-regi{
		position: absolute;
		top:0;
		width:131px;
		height:100%;
		border:1px solid #e8e8e8;
		padding:2px 5px;
	}
	#display-pro,#display-city,#display-regi{
		height:28px;
	}
	.mer-pro-icon,.mer-city-icon,.mer-area-icon{
		position: absolute;
		top:0;
		right:0;
		display:inline-block;
		width:20px;
		height:28px;
		border-left:none;
		background:url("./images/down.png") center center no-repeat;
		border:1px solid #e8e8e8;
		border-left:none;
	}
	#all-provinces,#all-citys,#all-regis{
		position: absolute;
		top:28px;
		background:#FFFFFF;
		width:152px;
		max-height:200px;
		z-index:100000;
		border:1px solid #e8e8e8;
		border-top:none;
		overflow-y: auto;
		display:none;
	}
	#all-provinces>li,#all-citys>li,#all-regis>li{
		line-height: 16px;
		padding:2px 5px;
		font-size:12px;
	}
	#all-provinces>li:hover,#all-citys>li:hover,#all-regis>li:hover{
		background:#a1c1c0;
	}
	.mer-detail-addr>textarea{
		height:90px;
		width:474px;
		border:1px solid #e8e8e8;
		resize: none;
		margin-left: 92px;
		border-radius: 2px;
		padding:2px 5px;
	}
	.input-addr>li:last-child{
		height: 28px;
		line-height: 28px;
		margin-top:10px;
	}
	.user-name>span,.user-tel>span{
		display:inline-block;
		width:84px;
		height:28px;
		line-height: 28px;
		font-size:14px;
		letter-spacing: 4px;
	}
	.user-tel>span{
		text-align: right;
	}
	.user-name>input{
		width:150px;
		height:28px;
		line-height: 28px;
		border:1px solid #e8e8e8;
		margin-left: 7px;
		border-radius: 2px;
		padding:2px 5px;
	}
	.user-tel>input{
		margin:0 3px 0 12px;
		width:228px;
		height:28px;
		line-height: 28px;
		border:1px solid #e8e8e8;
		border-radius: 2px;
		padding:2px 5px;
	}
	/*新建地址主要部分结束*/
	.addr-default input{
		position: relative;
		top:-6px;
		left:3px;
	}
	#default+label{
		position: relative;
		top:-8px;
		margin-left:5px;
	}
	.add-addr-sure,.add-addr-cancel{
		display:inline-block;
		width:144px;
		height:42px;
		line-height:40px;
		border-radius: 3px;
		cursor: pointer;
		text-align: center;
		font-size:18px;
	}
	.add-addr-sure{
		background:#c0ae8a;
		border:#c0ae8a solid 1px;
		color:#FFF;
		margin:42px 0 0 186px;
	}
	.add-addr-cancel{
		background:#fff;
		border:#CCC solid 1px;
		margin-left:20px;
	}
	/* 新建地址结束 */
	/* 已保存收货地址开始 */
	.display-addr{
		padding:20px 30px;
	}
	.display-addr-hint{
		height:14px;
		line-height: 14px;
		font-size:14px;
		margin-bottom:14px;
	}
	.display-addr-hint>span:last-child{
		color:#69c;
		cursor:pointer;
	}
	.addr-info-box{
		width:100%;
		border-top:#DDD solid 1px;
		border-bottom:#DDD solid 1px;
		border-collapse: collapse;
		text-align: center;
	}
	.addr-info-box>thead>tr{
		background:#f5f5f5;
		font-size:14px;
		border-bottom:#DDD solid 1px;
	}
	.addr-info-box>tbody>tr{
		height:100px;
		border-bottom:#DDD dashed 1px;
	}
	.addr-info-box>tbody>tr:last-child{
		border-bottom: none;
	}
	.display-addr-oper>span{
		display:inline-block;
		width:28px;
		height:19px;
		line-height: 19px;
		color:#69c;
		cursor:pointer;
		margin:0 5px;
	}
	.display-addr-oper>span:last-child{
		position:relative;
		right:-38px;
		width:96px;
		height:28px;
		line-height:28px;
		border:#c0ae8a solid 1px;
		color:#c0ae8a;
		background:#f5f3ef;
		border-radius: 3px;
	}
	.display-addr-oper>span:last-child:hover{
		background:#FFF;
	}
	/* 已保存收货地址结束 */
	.display-addr,.operate-addr-box,.edit-addr-box{
		display:none;
	}
</style>