<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>江南缘书城</title>
		<link rel="stylesheet" href="./css/reset.css"/>
		<link rel="stylesheet" href="./css/base.css"/>
		<link rel="stylesheet" href="./css/custBus.css"/>
	</head>
	<body>
		<!-- 头部开始 -->
		<header>
			<div class="header-nav">
				<div class="container clearfix">
					<span class="fl">好的生活，与书为伴</span>
					<div class="fr">
						<div class="user-box already-user-box">
							<span class="user-txt">花开半夏</span>
							<ul class="user-bus">
								<li><a href="customer_business.html#/custInfo">个人资料</a></li>
								<li><a href="customer_business.html#/orderMange">订单管理</a></li>
								<li><a href="customer_business.html#/addrMange">地址管理</a></li>
								<!--<li><a href="customer_business.html#/accountMange">账号安全</a></li>-->
								<li><a href="sign.html#/login">退出登录</a></li>
							</ul>
						</div>
						<div class="user-not-login not-already-user-box">
							<span class="head-login login-txt">登录</span>
							<span class="header-separate">|</span>
							<span class="head-regist regist-txt">注册</span>
						</div>
					</div>
				</div>
			</div>
			<div class="header-logo-box ">
				<div class="logo-box-top  container clearfix">
					<div class="fl">
						<img src="images/logo.png"/>
					</div>
					<div class="fr">
						<input type="text" placeholder="请输入书名进行搜索" class="keywords-search"/>
						<a class="search-icon" href="javascript:;"></a>
						<div class="shopcar-icon">
							<a  href="javascript:;"></a>
							<span class="shop-num">0<i></i></span>
							<div class="shop-book-list-box shop-book-small-list-box">
								<ul class="shop-book-list shop-book-list-small">
									<li>
										<div class="shop-book-img"><a href="javascript:;" style="background:url('./images/index/e00003.jpg') center center no-repeat;background-size:contain;"></a></div>
										<div class="shop-book-baseInfo shop-book-baseInfo-small">
											<a href="javascript:;">三生三世十里桃花哗</a>
											<a>x1</a>
										</div>
										<div class="shop-book-price shop-book-price-small">
											<span>￥89.4</span>
											<i></i>
										</div>
									</li>
									<li>
										<div class="shop-book-img"><a href="javascript:;" style="background:url('./images/index/e00003.jpg') center center no-repeat;background-size:contain;"></a></div>
										<div class="shop-book-baseInfo shop-book-baseInfo-small">
											<a href="javascript:;">三生三世十里桃花哗</a>
											<a>x1</a>
										</div>
										<div class="shop-book-price shop-book-price-small">
											<span>￥89.4</span>
											<i></i>
										</div>
									</li>
								</ul>
								<div class="paymeny-book-box">
									<span>剩余时间：<i class="clearShopCarTime">20分钟</i></span>
									<span>商品合计：<i class="bookTotalPrice">￥34.75</i></span>
									<span class="goPayPage">去结算</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<nav class="container">
					<ul class="header-items clearfix">
						<li><a href="index_login.html" class="cur-header-item" data-id="0">首页</a></li>
						<li>
							<a href="book_list.html?bigSmateId=1" data-id="1" class="top-nav">教育</a>
							<!--<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">教材</a></li>
									<li><a href="javascript:;">中小学教辅</a></li>
									<li><a href="javascript:;">考试</a></li>
									<li><a href="javascript:;">外语学习</a></li>
								</ul>
							</div>-->
						</li>
						<li>
							<a href="book_list.html?bigSmateId=2" data-id="2" class="top-nav">小说</a>
							<!--<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>-->
						</li>
						<li>
							<a href="book_list.html?bigSmateId=3" data-id="3" class="top-nav">文艺</a>
							<!--<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>-->
						</li>
						<li>
							<a href="book_list.html?bigSmateId=4" data-id="4" class="top-nav">青春</a>
							<!--<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>-->
						</li>
						<li>
							<a href="book_list.html?bigSmateId=5" data-id="5" class="top-nav">童书</a>
							<!--<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>-->
						</li>
						<li>
							<a href="book_list.html?bigSmateId=6" data-id="6" class="top-nav">生活</a>
							<!--<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>-->
						</li>
						<li>
							<a href="book_list.html?bigSmateId=7" data-id="7" class="top-nav">人文社科</a>
							<!--<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>-->
						</li>
						<li>
							<a href="book_list.html?bigSmateId=8" data-id="8" class="top-nav">经管</a>
							<!--<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>-->
						</li>
						<li>
							<a href="book_list.html?bigSmateId=9" data-id="9" class="top-nav">励志</a>
							<!--<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
								</ul>
							</div>-->
						</li>
						<li>
							<a href="book_list.html?bigSmateId=10" data-id="10" class="top-nav">科技</a>
							<!--<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">计算机互联网</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">建筑</a></li>
									<li><a href="javascript:;">工业艺术</a></li>
									<li><a href="javascript:;">电子/通信</a></li>
									<li><a href="javascript:;">医学</a></li>
									<li><a href="javascript:;">科学与自然</a></li>
									<li><a href="javascript:;">农林</a></li>
								</ul>
							</div>-->
						</li>
						<li>
							<a href="book_list.html?bigSmateId=11" data-id="11" class="top-nav">工具书</a>
							<!-- <div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div> -->
						</li>
					</ul>
				</nav>
			</div>
			<!--
			<div class="book-subclass-box">
				<ul class="container clearfix book-subclass-items">
					<li><a href="javascript:;">0-2岁</a></li>
					<li><a href="javascript:;">3-6岁</a></li>
					<li><a href="javascript:;">7-10岁</a></li>
					<li><a href="javascript:;">11-14岁</a></li>
					<li><a href="javascript:;">儿童文学</a></li>
					<li><a href="javascript:;">绘本</a></li>
					<li><a href="javascript:;">科普</a></li>
					<li><a href="javascript:;">幼儿启蒙</a></li>
					<li><a href="javascript:;">手工游戏</a></li>
					<li><a href="javascript:;">智力开发</a></li>
				</ul>
			</div>
			-->
		</header>
		<!-- 头部结束 -->

		<!-- 顾客各种业务开始 -->
		<section ng-app="custBus" class="cust-bus" ng-controller="custBusCtrl">
			<div class="clearfix cust-bus-box container">
				<div class="cust-bus-title fl">
					<div class="custBus-icon-box">
						<span class="custBus-icon">
							<img ng-src="{{ user.img }}" align="absmiddle" ng-click="showChangeImg()"/>
						</span>
						<span>{{ user.name }}</span>
						<span ng-click="changeAccount()">切换账号</span>
					</div>
					<ul class="custBus-items">
						<li ng-click="jumpInfo($event)" class="highlight-oper">个人资料</li>
						<li ng-click="jumpOrder($event)">订单管理</li>
						<li ng-click="jumpAddress($event)">地址管理</li>
						<!--<li ng-click="jumpAccount($event)">账号安全</li>-->
					</ul>
				</div>
				<div class="cust-bus-info fr">
					<ng-view></ng-view>
				</div>
			</div>
			<div class="cust-box-addi" ng-style="changeImgBox">
				<div class="cust-content">
					<h4>设置头像</h4>
					<div class="cust-img-box">
						<div class="thumbBox"></div>
    					<div class="spinner" style="display: none"></div>
					</div>
					<div class="cust-btn-box clearfix">
						<a href="javascript:;" class="select-img">点击选择图片<input type="file" id="userImage" name="userImage"/></a>
						<span class="bigger-img">+</span>
						<span class="smaller-img">-</span>
						<span class="save-img" ng-click="saveImg()">保存</span>
					</div>
					<p class="operHint">{{ changeImgHint }}</p>
					<i class="cust-img-close" ng-click="hideChangeImg()"></i>
				</div>
			</div>
		</section>
		<!-- 顾客各种业务结束 -->

		<!-- 页面滚动时的固定定位部分开始 -->
		<aside>
			<div class="container clearfix">
				<ul class="header-items fl clearfix">
					<li><a href="index_login.html" class="cur-header-item" data-id="0">首页</a></li>
					<li>
						<a href="book_list.html?bigSmateId=1" data-id="1" class="aside-nav">教育</a>
						<!--<div class="aside-subclass-box">
							<ul class="container clearfix book-subclass-items">
								<li><a href="javascript:;">教材</a></li>
								<li><a href="javascript:;">中小学教辅</a></li>
								<li><a href="javascript:;">考试</a></li>
								<li><a href="javascript:;">外语学习</a></li>
							</ul>
						</div>-->
					</li>
					<li>
						<a href="book_list.html?bigSmateId=2" data-id="2" class="aside-nav">小说</a>
						<!--<div class="aside-subclass-box">
							<ul class="container clearfix book-subclass-items">
								<li><a href="javascript:;">0-2岁</a></li>
								<li><a href="javascript:;">3-6岁</a></li>
								<li><a href="javascript:;">7-10岁</a></li>
								<li><a href="javascript:;">11-14岁</a></li>
								<li><a href="javascript:;">儿童文学</a></li>
								<li><a href="javascript:;">绘本</a></li>
								<li><a href="javascript:;">科普</a></li>
								<li><a href="javascript:;">幼儿启蒙</a></li>
								<li><a href="javascript:;">手工游戏</a></li>
								<li><a href="javascript:;">智力开发</a></li>
							</ul>
						</div>-->
					</li>
					<li>
						<a href="book_list.html?bigSmateId=3" data-id="3" class="aside-nav">文艺</a>
						<!--<div class="aside-subclass-box">
							<ul class="container clearfix book-subclass-items">
								<li><a href="javascript:;">0-2岁</a></li>
								<li><a href="javascript:;">儿童文学</a></li>
								<li><a href="javascript:;">绘本</a></li>
								<li><a href="javascript:;">科普</a></li>
								<li><a href="javascript:;">幼儿启蒙</a></li>
								<li><a href="javascript:;">手工游戏</a></li>
								<li><a href="javascript:;">智力开发</a></li>
							</ul>
						</div>-->
					</li>
					<li>
						<a href="book_list.html?bigSmateId=4" data-id="4" class="aside-nav">青春</a>
						<!--<div class="aside-subclass-box">
							<ul class="container clearfix book-subclass-items">
								<li><a href="javascript:;">0-2岁</a></li>
								<li><a href="javascript:;">3-6岁</a></li>
								<li><a href="javascript:;">7-10岁</a></li>
								<li><a href="javascript:;">11-14岁</a></li>
								<li><a href="javascript:;">儿童文学</a></li>
								<li><a href="javascript:;">手工游戏</a></li>
								<li><a href="javascript:;">智力开发</a></li>
							</ul>
						</div>-->
					</li>
					<li>
						<a href="book_list.html?bigSmateId=5" data-id="5" class="aside-nav">童书</a>
						<!--<div class="aside-subclass-box">
							<ul class="container clearfix book-subclass-items">
								<li><a href="javascript:;">7-10岁</a></li>
								<li><a href="javascript:;">11-14岁</a></li>
								<li><a href="javascript:;">儿童文学</a></li>
								<li><a href="javascript:;">绘本</a></li>
								<li><a href="javascript:;">科普</a></li>
								<li><a href="javascript:;">幼儿启蒙</a></li>
								<li><a href="javascript:;">手工游戏</a></li>
								<li><a href="javascript:;">智力开发</a></li>
							</ul>
						</div>-->
					</li>
					<li>
						<a href="book_list.html?bigSmateId=6" data-id="6" class="aside-nav">生活</a>
						<!--<div class="aside-subclass-box">
							<ul class="container clearfix book-subclass-items">
								<li><a href="javascript:;">0-2岁</a></li>
								<li><a href="javascript:;">3-6岁</a></li>
								<li><a href="javascript:;">7-10岁</a></li>
								<li><a href="javascript:;">11-14岁</a></li>
								<li><a href="javascript:;">幼儿启蒙</a></li>
								<li><a href="javascript:;">手工游戏</a></li>
								<li><a href="javascript:;">智力开发</a></li>
							</ul>
						</div>-->
					</li>
					<li>
						<a href="book_list.html?bigSmateId=7" data-id="7" class="aside-nav">人文</a>
						<!--<div class="aside-subclass-box">
							<ul class="container clearfix book-subclass-items">
								<li><a href="javascript:;">儿童文学</a></li>
								<li><a href="javascript:;">绘本</a></li>
								<li><a href="javascript:;">科普</a></li>
								<li><a href="javascript:;">幼儿启蒙</a></li>
								<li><a href="javascript:;">手工游戏</a></li>
								<li><a href="javascript:;">智力开发</a></li>
							</ul>
						</div>-->
					</li>
					<li>
						<a href="book_list.html?bigSmateId=8" data-id="8" class="aside-nav">经管</a>
						<!--<div class="aside-subclass-box">
							<ul class="container clearfix book-subclass-items">
								<li><a href="javascript:;">0-2岁</a></li>
								<li><a href="javascript:;">3-6岁</a></li>
								<li><a href="javascript:;">幼儿启蒙</a></li>
								<li><a href="javascript:;">手工游戏</a></li>
								<li><a href="javascript:;">智力开发</a></li>
							</ul>
						</div>-->
					</li>
					<li>
						<a href="book_list.html?bigSmateId=9" data-id="9" class="aside-nav">励志</a>
						<!--<div class="aside-subclass-box">
							<ul class="container clearfix book-subclass-items">
								<li><a href="javascript:;">0-2岁</a></li>
								<li><a href="javascript:;">3-6岁</a></li>
								<li><a href="javascript:;">7-10岁</a></li>
								<li><a href="javascript:;">11-14岁</a></li>
								<li><a href="javascript:;">儿童文学</a></li>
								<li><a href="javascript:;">绘本</a></li>
								<li><a href="javascript:;">科普</a></li>
							</ul>
						</div>-->
					</li>
					<li>
						<a href="book_list.html?bigSmateId=10" data-id="10" class="aside-nav">科技</a>
						<!--<div class="aside-subclass-box">
							<ul class="container clearfix book-subclass-items">
								<li><a href="javascript:;">计算机互联网</a></li>
								<li><a href="javascript:;">科普</a></li>
								<li><a href="javascript:;">建筑</a></li>
								<li><a href="javascript:;">工业艺术</a></li>
								<li><a href="javascript:;">电子/通信</a></li>
								<li><a href="javascript:;">医学</a></li>
								<li><a href="javascript:;">科学与自然</a></li>
								<li><a href="javascript:;">农林</a></li>
							</ul>
						</div>-->
					</li>
					<li>
						<a href="book_list.html?bigSmateId=11" data-id="11" class="aside-nav">工具书</a>
						<!-- <div class="aside-subclass-box">
							<ul class="container clearfix book-subclass-items">
								<li><a href="javascript:;">0-2岁</a></li>
								<li><a href="javascript:;">3-6岁</a></li>
								<li><a href="javascript:;">7-10岁</a></li>
								<li><a href="javascript:;">11-14岁</a></li>
								<li><a href="javascript:;">儿童文学</a></li>
								<li><a href="javascript:;">绘本</a></li>
								<li><a href="javascript:;">科普</a></li>
								<li><a href="javascript:;">幼儿启蒙</a></li>
								<li><a href="javascript:;">手工游戏</a></li>
								<li><a href="javascript:;">智力开发</a></li>
							</ul>
						</div> -->
					</li>
				</ul>
				<div class="aside-img-box already-login-aside-img-box fr" >
					<div class="aside-user-box">
						<span class="aside-user-img"></span>
						<ul class="aside-user-bus">
							<li><a href="customer_business.html#/custInfo">个人资料</a></li>
							<li><a href="customer_business.html#/orderMange">订单管理</a></li>
							<li><a href="customer_business.html#/addrMange">地址管理</a></li>
							<!--<li><a href="customer_business.html#/accountMange">账号安全</a></li>-->
							<li><a href="sign.html#/login">退出登录</a></li>
						</ul>
					</div>
					<div class="shopcar-big-icon">
						<a  href="javascript:;"></a>
						<span class="shop-big-num"><b>0</b><i></i></span>
						<div class="shop-book-list-box shop-book-big-list-box">
							<ul class="shop-book-list shop-book-list-big">
								<li>
									<div class="shop-book-img"><a href="javascript:;" style="background:url('./images/index/e00003.jpg') center center no-repeat;background-size:contain;"></a></div>
									<div class="shop-book-baseInfo shop-book-big-baseInfo">
										<a href="javascript:;">三生三世十里桃花哗</a>
										<a>x1</a>
									</div>
									<div class="shop-book-price shop-book-big-price">
										<span>￥89.4</span>
										<i></i>
									</div>
								</li>
							</ul>
							<div class="paymeny-book-box">
								<span>剩余时间：<i class="clearShopCarTime">20分钟</i></span>
								<span>商品合计：<i class="bookTotalPrice">￥34.75</i></span>
								<span class="goPayPage">去结算</span>
							</div>
						</div>
					</div>
				</div>
				<div class="aside-img-box not-already-login-aside-img-box fr" style="display:none">
					<p><a href="javascript:;" class="login-txt">登录</a><a>|</a><a href="javascript:;" class="regist-txt">注册</a></p>
					<a href="javascript:;"></a>
				</div>
			</div>
		</aside>
		<!-- 页面滚动时的固定定位部分结束 -->

		<!-- 页面底部开始-->
		<footer>
			<div class="container clearfix footer-box">
				<div class="footer-left-box fl">
					<span>客服电话</span>
					<span>400-820-531</span>
					<span>9:00-22:00</span>
					<span><a href="#">用户反馈</a></span>
				</div>
				<div class="footer-middle-box fl">
					<span>何为江南缘</span>
					<p>江南缘书店品牌，秉承网易一贯的严谨态度，我们深入世界各地，从源头全程严格把控商品生产环节，力求帮消费者甄选到最优质的商品 </p>
					<p class="footer-attention">
						<span>关注我们：</span>
						<span class="footer-weixin footer-icon">
							<i></i>
						</span>
						<span class="footer-qq footer-icon">
							<i></i>
						</span>
					</p>
				</div>
				<div class="footer-right-box fl clearfix">
					<div class="fl">
						<span>商家</span>
						<p><a href="">商家入驻</a></p>
						<p><a href="">商家后台</a></p>
					</div>
					<div class="fr">
						<span>品质保证</span>
						<i class="footer-qa"></i>
					</div>
				</div>
			</div>
		</footer>
		<!-- 页面底部结束-->
		<script src="./js/jquery-1.12.3.js"></script>
		<script src="./js/angular.js"></script>
		<script src="./js/angular-route.js"></script>
		<script src="./js/slider.js"></script>
		<script src="./js/cropbox.js"></script>
		<script src="./js/ajaxfileupload.js"></script>
		<script src="./app/base.js"></script>
		<script src="./app/custBus-controller.js"></script>
		<script src="./app/custBus.js"></script>
	</body>
</html>