<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>江南缘书城</title>
		<link rel="stylesheet" href="./css/reset.css"/>
		<link rel="stylesheet" href="./css/base.css"/>
		<link rel="stylesheet" href="./css/submit_order.css"/>
	</head>
	<body ng-app="userLogin">
		<!-- 头部开始 -->
		<header ng-controller="userLoginCtrl">
			<div class="header-nav">
				<div class="container clearfix">
				<span class="fl">好的生活，与书为伴</span>
				<div class="fr">
					<div class="user-box">
						<span class="user-txt">{{ user.uname }}</span>
						<ul class="user-bus">
							<li><a href="customer_business.html#/custInfo">个人资料</a></li>
							<li><a href="customer_business.html#/orderMange">订单管理</a></li>
							<li><a href="customer_business.html#/addrMange">地址管理</a></li>
							<li><a href="customer_business.html#/accountMange">账号安全</a></li>
							<li><a href="sign.html#/login">退出登录</a></li>
							<p></p>
						</ul>
					</div>
				</div>
			</div>
			</div>
			<div class="header-logo-box ">
				<div class="logo-box-top  container clearfix">
					<div class="fl">
						<img src="images/logo.png"/>
					</div>
					<div class="fr">
						<input type="text" placeholder="请输入关键字进行搜索" ng-model="user.keywords" class="keywords-search"/>
						<a class="search-icon" href="javascript:;"><a>
						<a class="shopcar-icon" href="javascript:;"><a>
					</div>
				</div>
				<nav class="container">
					<ul class="header-items clearfix">
						<li><a href="javascript:;" class="cur-header-item">首页</a></li>
						<li>
							<a href="javascript:;">教育</a>
							<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">教材</a></li>
									<li><a href="javascript:;">中小学教辅</a></li>
									<li><a href="javascript:;">考试</a></li>
									<li><a href="javascript:;">外语学习</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">小说</a>
							<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">文艺</a>
							<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">青春</a>
							<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">童书</a>
							<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">生活</a>
							<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">人文社科</a>
							<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">经管</a>
							<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">励志</a>
							<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">科技</a>
							<div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">计算机互联网</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">建筑</a></li>
									<li><a href="javascript:;">工业艺术</a></li>
									<li><a href="javascript:;">电子/通信</a></li>
									<li><a href="javascript:;">医学</a></li>
									<li><a href="javascript:;">科学与自然</a></li>
									<li><a href="javascript:;">农林</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">工具书</a>
							<!-- <div class="book-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div> -->
						</li>
					</ul>
				</nav>
			</div>
			<!--
			<div class="book-subclass-box">
				<ul class="container clearfix book-subclass-items">
					<li><a href="javascript:;">0-2岁</a></li>
					<li><a href="javascript:;">3-6岁</a></li>
					<li><a href="javascript:;">7-10岁</a></li>
					<li><a href="javascript:;">11-14岁</a></li>
					<li><a href="javascript:;">儿童文学</a></li>
					<li><a href="javascript:;">绘本</a></li>
					<li><a href="javascript:;">科普</a></li>
					<li><a href="javascript:;">幼儿启蒙</a></li>
					<li><a href="javascript:;">手工游戏</a></li>
					<li><a href="javascript:;">智力开发</a></li>
				</ul>
			</div>
			-->
		</header>
		<!-- 头部结束 -->
		
		<!-- 提交订单页面开始（已有地址、选择某个地址作为默认地址、新建或修改地址都有写） -->
		<section>
			<div class="container">
				<div class="submit-order-box">
					<div class="select-addr-box" >
						<p>收货信息</p>
						<div class="clearfix">
							<div class="user-addr-info fl">
								<p class="user-addr-default"><i></i>默认地址<span>修改</span></p>
								<p><i>收货人：</i><span>哈哈哈</span></p>
								<p><i>联系方式：</i><span>13829292239</span></p>
								<p><i>收货地址：</i><span>陕西省西安市长安区西安邮电大学南校区西区</span></p>
							</div>
							<div class="user-addr-operate fr">
								<p>切换地址</p>
								<p>新建地址</p>
							</div>
						</div>
					</div>
					<div class="edit-addr-box" style="display: none">
						<p></p>
						<div class="clearfix">
							<div class="edit-addr fl">
								<ul class="input-addr clearfix">
									<li class="mer_position">
										<span>所在地区：</span>
										<div class="area-box">
											<div class="province-box">
												<div id="display-pro"><input type="text" ng-model="user.selectProvince" data-id="{{ user.selectProvinceId }}" readonly="true" class="mer-province"/><i class="mer-pro-icon"></i></div>
												<ul id="all-provinces">
													<!--此处用js生成省的信息-->
												</ul>
											</div>
											<div class="city-box">
												<div id="display-city"><input type="text" ng-model="user.selectCity" data-id="{{ user.selectCityId }}" readonly="true" class="mer-city"/><i class="mer-city-icon"></i></div>
												<ul id="all-citys">
													<!--此处用js生成市信息-->
												</ul>
											</div>
											<div class="regi-box">
												<div id="display-regi"><input type="text" ng-model="user.selectRegi" data-id="{{ user.selectRegiId }}" readonly="true" class="mer-regi"/><i class="mer-area-icon"></i></div>
												<ul id="all-regis">
													<!--此处用js生成区信息-->
												</ul>
											</div>
										</div>
									</li>
									<li class="mer-detail-addr"><span>详细地址：</span><textarea ng-model="user.street" placeholder="街道、门牌号等" class="user-input"></textarea></li>
									<li class="clearfix">
										<p class="user-name fl"><span>收货人：</span><input type="text" placeholder="请输入您的姓名" /></p>
										<p class="user-tel fl"><span>手机号:</span><input type="text" placeholder="请输入您的手机号" /></p>
									</li>
								</ul>
							</div>
							<div class="select-defalut fr">
								<p><input type="checkbox" id="defaultAddr"/><label for="defaultAddr">设为默认</label></p>
								<p><span>确定</span><span>取消</span></p>
							</div>
						</div>
					</div>
					<div class="addr-as-default">
						<div class="wait-select-box">
							<p>选择地址</p>
							<ul class="wait-addrs">
								<li>
									<p class="obtain-person"><span>收货人：</span><span>哈哈哈哈</span></p>
									<p><span>联系方式：</span><span>13819242249</span></p>
									<p><span>收货地址：</span><span>陕西省西安市长安区西安邮电大学南校区西区</span></p>
									<b class="default-addr-mark">默认地址</b>
								</li>
								<li>
									<p class="obtain-person"><span>收货人：</span><span>哈哈哈哈</span></p>
									<p><span>联系方式：</span><span>13819242249</span></p>
									<p><span>收货地址：</span><span>陕西省西安市长安区西安邮电大学南校区西区</span></p>
									<b class="default-addr-mark"></b>
								</li>
							</ul>
							<p class="select-default-operate"><span>确认</span><span>取消</span></p>
							<i class="close-wait-addr"></i>
						</div>
					</div>
					<div class="user-order-info">
						<div class="buy-book-info">
							<table class="dealSucc-info-box">
								<thead>
									<tr class="dealSucc-title">
										<th colspan="2">书籍信息</th>
										<th>单价</th>
										<th>数量</th>
										<th>小计</th>
									</tr>
								</thead>
								<tbody class="dealSucc-content">
									<tr>
										<td class="book-img" style="background-image: url('./images/index/e00001.jpg')"></td>
										<td class="book-name">三生花三生三世三生十里桃花</td>
										<td>12</td>
										<td>1</td>
										<td>12</td>
									</tr>
									<tr>
										<td class="book-img" style="background-image: url('./images/index/e00001.jpg')"></td>
										<td class="book-name">三生花三生三世三生十里桃花</td>
										<td>12</td>
										<td>1</td>
										<td>12</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="payment-num">
							<div>
								<p class="book-total">书籍合计：<span>￥45.7</span></p>
								<p class="book-transit-money"><span>全场包邮<i></i></span>运费:<span>￥0.0</span></p>
							</div>
							<div>
								<p class="virtual-book-total">应付总额：<span>￥45.7</span></p>
								<p class="payment-money"><span>去付款</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 提交订单页面结束 -->
		
		<!-- 页面滚动时的固定定位部分开始 -->
		<aside>
			<div class="container clearfix">
				<ul class="header-items fl clearfix">
					<li><a href="javascript:;" class="cur-header-item">首页</a></li>
						<li>
							<a href="javascript:;">教育</a>
							<div class="aside-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">教材</a></li>
									<li><a href="javascript:;">中小学教辅</a></li>
									<li><a href="javascript:;">考试</a></li>
									<li><a href="javascript:;">外语学习</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">小说</a>
							<div class="aside-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">文艺</a>
							<div class="aside-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">青春</a>
							<div class="aside-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">童书</a>
							<div class="aside-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">生活</a>
							<div class="aside-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">人文</a>
							<div class="aside-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">经管</a>
							<div class="aside-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">励志</a>
							<div class="aside-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">科技</a>
							<div class="aside-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">计算机互联网</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">建筑</a></li>
									<li><a href="javascript:;">工业艺术</a></li>
									<li><a href="javascript:;">电子/通信</a></li>
									<li><a href="javascript:;">医学</a></li>
									<li><a href="javascript:;">科学与自然</a></li>
									<li><a href="javascript:;">农林</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="javascript:;">工具书</a>
							<!-- <div class="aside-subclass-box">
								<ul class="container clearfix book-subclass-items">
									<li><a href="javascript:;">0-2岁</a></li>
									<li><a href="javascript:;">3-6岁</a></li>
									<li><a href="javascript:;">7-10岁</a></li>
									<li><a href="javascript:;">11-14岁</a></li>
									<li><a href="javascript:;">儿童文学</a></li>
									<li><a href="javascript:;">绘本</a></li>
									<li><a href="javascript:;">科普</a></li>
									<li><a href="javascript:;">幼儿启蒙</a></li>
									<li><a href="javascript:;">手工游戏</a></li>
									<li><a href="javascript:;">智力开发</a></li>
								</ul>
							</div> -->
						</li>
				</ul>
				<div class="aside-img-box fr">
					<div class="aside-user-box">
						<span class="aside-user-img"></span>
						<ul class="aside-user-bus">
							<li><a href="customer_business.html#/custInfo">个人资料</a></li>
							<li><a href="customer_business.html#/orderMange">订单管理</a></li>
							<li><a href="customer_business.html#/addrMange">地址管理</a></li>
							<li><a href="customer_business.html#/accountMange">账号安全</a></li>
							<li><a href="sign.html#/login">退出登录</a></li>
							<p></p>
						</ul>
					</div>
					<a href="javascript:;"></a>
				</div>
			</div>
		</aside>
		<!-- 页面滚动时的固定定位部分结束 -->

		<!-- 页面底部开始-->
		<footer>
			<div class="container clearfix footer-box">
				<div class="footer-left-box fl">
					<span>客服电话</span>
					<span>400-820-531</span>
					<span>9:00-22:00</span>
					<span><a href="#">用户反馈</a></span>
				</div>
				<div class="footer-middle-box fl">
					<span>何为江南缘</span>
					<p>江南缘书店品牌，秉承网易一贯的严谨态度，我们深入世界各地，从源头全程严格把控商品生产环节，力求帮消费者甄选到最优质的商品 </p>
					<p class="footer-attention">
						<span>关注我们：</span>
						<span class="footer-weixin footer-icon">
							<i></i>
						</span>
						<span class="footer-qq footer-icon">
							<i></i>
						</span>
					</p>
				</div>
				<div class="footer-right-box fl clearfix">
					<div class="fl">
						<span>商家</span>
						<p><a href="">商家入驻</a></p>
						<p><a href="">商家后台</a></p>
					</div>
					<div class="fr">
						<span>品质保证</span>
						<i class="footer-qa"></i>
					</div>
				</div>
			</div>
		</footer>
		<!-- 页面底部结束-->
		<script src="./js/jquery-1.12.3.js"></script>
		<script src="./js/angular.js"></script>
		<script src="./js/slider.js"></script>
		<script src="./app/base.js"></script>
		<script src="./app/base-controller.js"></script>
		<script src="./app/submit_order.js"></script>
	</body>
</html>